roles/node-red-flows/templates/thuis.json
[
    {
        "id": "d9d0239.9656ae",
        "type": "tab",
        "label": "Zigbee",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9aeafd2a.62224",
        "type": "tab",
        "label": "Netwerk",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b373cb64.b32288",
        "type": "tab",
        "label": "Zigbee devices",
        "disabled": false,
        "info": ""
    },
    {
        "id": "54720da2.31fe84",
        "type": "zigbee2mqtt-server",
        "z": "",
        "name": "Zigbee",
        "host": "localhost",
        "mqtt_port": "1883",
        "mqtt_username": "",
        "mqtt_password": "",
        "tls": "",
        "usetls": false,
        "base_topic": "zigbee2mqtt"
    },
    {
        "id": "ac5435ab.ce7598",
        "type": "ui_tab",
        "z": "",
        "name": "Deuren",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fb0248e0.17bda8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e792fa71.415768",
        "type": "ui_tab",
        "z": "",
        "name": "Quick Overview",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4ec1ae6.5ee7c5",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "606c92e8.3b8f6c",
        "type": "ui_tab",
        "z": "",
        "name": "Thuis",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5b148da4.232e64",
        "type": "ui_group",
        "z": "",
        "name": "Thuis",
        "tab": "606c92e8.3b8f6c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "11953a91.2f6945",
        "type": "slack-config",
        "z": "",
        "name": "slack-token"
    },
    {
        "id": "e0dd3b52.9b32b8",
        "type": "light-scheduler-settings",
        "z": "",
        "name": "Thuis",
        "latitude": "53.179807",
        "longitude": "6.168264"
    },
    {
        "id": "e480e105.3a76c",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "ac5435ab.ce7598",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1e6b0aaa.cd6715",
        "type": "slackbot-controller",
        "z": "",
        "name": "revenberg_nodered",
        "bot_token": "xoxb-319704114455-1614678738321-q1AcUBYx5dtoWaim6i2QzOsI"
    },
    {
        "id": "9140c24a.7d508",
        "type": "catch",
        "z": 0,
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 2200,
        "y": 3480,
        "wires": [
            []
        ]
    },
    {
        "id": "1e86e070.517",
        "type": "catch",
        "z": "9aeafd2a.62224",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 2200,
        "y": 3480,
        "wires": [
            []
        ]
    },
    {
        "id": "9db42f61.fb743",
        "type": "mqtt in",
        "z": "9aeafd2a.62224",
        "name": "Sander presence",
        "topic": "wifi/192.168.2.70",
        "qos": "2",
        "datatype": "json",
        "broker": "4ec1ae6.5ee7c5",
        "x": 180,
        "y": 400,
        "wires": [
            [
                "6f1a3d.1f48a5c4"
            ]
        ]
    },
    {
        "id": "4850edcc.ed5f54",
        "type": "arp",
        "z": "9aeafd2a.62224",
        "name": "ARP",
        "macs": "",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "e2c06e60.49408"
            ]
        ]
    },
    {
        "id": "9a86ea9f.29feb8",
        "type": "inject",
        "z": "9aeafd2a.62224",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "4850edcc.ed5f54"
            ]
        ]
    },
    {
        "id": "e2c06e60.49408",
        "type": "split",
        "z": "9aeafd2a.62224",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 530,
        "y": 160,
        "wires": [
            [
                "b8249e81.65604"
            ]
        ]
    },
    {
        "id": "1a6a4ec5.3f81f1",
        "type": "adv ping",
        "z": "9aeafd2a.62224",
        "name": "",
        "host": "",
        "x": 960,
        "y": 160,
        "wires": [
            [
                "462475c9.8fc48c"
            ]
        ]
    },
    {
        "id": "b8249e81.65604",
        "type": "function",
        "z": "9aeafd2a.62224",
        "name": "Analyze Result 2",
        "func": "// anything stored in context is kept available for next time we get called\ncontext.ip = \"\";\n\nif(msg.payload) {\n    if(msg.payload.ip) {\n    context.ip = msg.payload.ip;\n    }\n} \n\nmsg.host=context.ip;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 160,
        "wires": [
            [
                "1a6a4ec5.3f81f1"
            ]
        ]
    },
    {
        "id": "462475c9.8fc48c",
        "type": "function",
        "z": "9aeafd2a.62224",
        "name": "Analyze Result",
        "func": "// anything stored in context is kept available for next time we get called\n_context = {};\n\n_context.ip = msg._payload.ip;\n\nif(msg.payload) {\n  _context.pingresponse = msg.payload;\n  _context.home = 'Home';\n}\n\nmsg.payload = _context;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1180,
        "y": 160,
        "wires": [
            [
                "6901deee.a665b"
            ]
        ]
    },
    {
        "id": "f6e1ba11.cb7ad8",
        "type": "mqtt out",
        "z": "9aeafd2a.62224",
        "name": "Send info to mqtt",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "4ec1ae6.5ee7c5",
        "x": 1630,
        "y": 160,
        "wires": []
    },
    {
        "id": "78e01b90.d23804",
        "type": "function",
        "z": "9aeafd2a.62224",
        "name": "",
        "func": "\nhome = 0;\nif(msg.payload) {\n    if(msg.payload.home == \"Home\") {\n        home = 2;\n    } else {\n        if(msg.payload.count) {\n            home = 1;\n        }\n    }\n}\nmsg.payload = home;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 400,
        "wires": [
            [
                "bf16e062.6ef71"
            ]
        ]
    },
    {
        "id": "bf16e062.6ef71",
        "type": "ui_led",
        "z": "9aeafd2a.62224",
        "group": "5b148da4.232e64",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Sander",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "orange",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 670,
        "y": 400,
        "wires": []
    },
    {
        "id": "7a94477b.4b2a68",
        "type": "mqtt in",
        "z": "9aeafd2a.62224",
        "name": "Bonny presence",
        "topic": "wifi/192.168.2.72",
        "qos": "2",
        "datatype": "json",
        "broker": "4ec1ae6.5ee7c5",
        "x": 180,
        "y": 480,
        "wires": [
            [
                "ce5d0528.7a06b8"
            ]
        ]
    },
    {
        "id": "64922542.bd2edc",
        "type": "mqtt in",
        "z": "9aeafd2a.62224",
        "name": "Jelmar presence",
        "topic": "wifi/192.168.2.71",
        "qos": "2",
        "datatype": "json",
        "broker": "4ec1ae6.5ee7c5",
        "x": 180,
        "y": 580,
        "wires": [
            [
                "5e34fd20.aed534"
            ]
        ]
    },
    {
        "id": "6901deee.a665b",
        "type": "function",
        "z": "9aeafd2a.62224",
        "name": "Determine status",
        "func": "// anything stored in context is kept available for next time we get called\n\n//_payload = {};\n_payload = msg.payload;\ndefault_count = 25 * 4;\n\nc = flow.get(msg.payload.ip + 'status') || \"Away\";\n_payload.changed = false;\n\nif(msg.payload.pingresponse) {\n  _payload.count = default_count;\n  flow.set(msg.payload.ip + 'count', _payload.count);\n  flow.set(msg.payload.ip + 'status', \"Home\");\n  if (c == \"Away\") {\n      _payload.changed = true;\n  }\n} else {\n    _payload.home = flow.get(msg.payload.ip + 'status') || \"Home\";\n    if (_payload.home == \"Home\") {\n        count = (flow.get(msg.payload.ip + 'count') || default_count);\n        _payload.count = count - 1;\n        flow.set(msg.payload.ip + 'count', _payload.count);\n        if (count <= 1) {\n            flow.set(msg.payload.ip + 'status', \"Away\");\n            _payload.home = \"Away\";\n            if (c == \"Home\") {\n              _payload.changed = true;\n          }\n        }\n    }\n}\n\nmsg.topic = \"wifi/\" + msg.payload.ip;\nmsg.payload = _payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1410,
        "y": 160,
        "wires": [
            [
                "f6e1ba11.cb7ad8"
            ]
        ]
    },
    {
        "id": "a4c8a10.b4a256",
        "type": "function",
        "z": "9aeafd2a.62224",
        "name": "",
        "func": "\nhome = 0;\nif(msg.payload) {\n    if(msg.payload.home == \"Home\") {\n        home = 2;\n    } else {\n        if(msg.payload.count) {\n            home = 1;\n        }\n    }\n}\nmsg.payload = home;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 480,
        "wires": [
            [
                "8d1461dd.24f4d"
            ]
        ]
    },
    {
        "id": "8d1461dd.24f4d",
        "type": "ui_led",
        "z": "9aeafd2a.62224",
        "group": "5b148da4.232e64",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Bonny",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "orange",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 670,
        "y": 480,
        "wires": []
    },
    {
        "id": "c3a1008a.2fb0a",
        "type": "function",
        "z": "9aeafd2a.62224",
        "name": "",
        "func": "\nhome = 0;\nif(msg.payload) {\n    if(msg.payload.home == \"Home\") {\n        home = 2;\n    } else {\n        if(msg.payload.count) {\n            home = 1;\n        }\n    }\n}\nmsg.payload = home;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 580,
        "wires": [
            [
                "9e89c5a0.da7d68"
            ]
        ]
    },
    {
        "id": "9e89c5a0.da7d68",
        "type": "ui_led",
        "z": "9aeafd2a.62224",
        "group": "5b148da4.232e64",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Jelmar",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "orange",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 670,
        "y": 580,
        "wires": []
    },
    {
        "id": "24f21ef4.90f8b2",
        "type": "function",
        "z": "9aeafd2a.62224",
        "name": "",
        "func": "home = \" is niet thuis\";\n\nif(msg.payload) {\n    if(msg.payload.home == \"Home\") {\n        home = \" is thuis\";\n    }\n}\nmsg.payload =  msg.payload.name + home;\n\nmsg.topic = \"#node-red\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1310,
        "y": 420,
        "wires": [
            [
                "fbffea83.0cd9d8"
            ]
        ]
    },
    {
        "id": "fbffea83.0cd9d8",
        "type": "slack-web-out",
        "z": "9aeafd2a.62224",
        "client": "11953a91.2f6945",
        "name": "Slack send",
        "x": 1490,
        "y": 420,
        "wires": [
            [
                "4476cd37.b23724"
            ]
        ]
    },
    {
        "id": "4476cd37.b23724",
        "type": "debug",
        "z": "9aeafd2a.62224",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1670,
        "y": 420,
        "wires": []
    },
    {
        "id": "5a1603cb.e4e14c",
        "type": "switch",
        "z": "9aeafd2a.62224",
        "name": "",
        "property": "payload.changed",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1170,
        "y": 420,
        "wires": [
            [
                "24f21ef4.90f8b2"
            ]
        ]
    },
    {
        "id": "6f1a3d.1f48a5c4",
        "type": "function",
        "z": "9aeafd2a.62224",
        "name": "",
        "func": "\nmsg.payload.name = \"Sander\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 400,
        "wires": [
            [
                "4b6591b6.ccdda",
                "78e01b90.d23804"
            ]
        ]
    },
    {
        "id": "ce5d0528.7a06b8",
        "type": "function",
        "z": "9aeafd2a.62224",
        "name": "",
        "func": "\nmsg.payload.name = \"Bonny\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 480,
        "wires": [
            [
                "a4c8a10.b4a256",
                "d0a6a89b.de7198"
            ]
        ]
    },
    {
        "id": "5e34fd20.aed534",
        "type": "function",
        "z": "9aeafd2a.62224",
        "name": "",
        "func": "\nmsg.payload.name = \"Jelmar\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 580,
        "wires": [
            [
                "c3a1008a.2fb0a",
                "75c3c8e7.6d6d58"
            ]
        ]
    },
    {
        "id": "4b6591b6.ccdda",
        "type": "link out",
        "z": "9aeafd2a.62224",
        "name": "",
        "links": [
            "d614fb86.b52658"
        ],
        "x": 475,
        "y": 360,
        "wires": []
    },
    {
        "id": "d614fb86.b52658",
        "type": "link in",
        "z": "9aeafd2a.62224",
        "name": "",
        "links": [
            "4b6591b6.ccdda",
            "d0a6a89b.de7198",
            "75c3c8e7.6d6d58"
        ],
        "x": 1055,
        "y": 420,
        "wires": [
            [
                "5a1603cb.e4e14c"
            ]
        ]
    },
    {
        "id": "d0a6a89b.de7198",
        "type": "link out",
        "z": "9aeafd2a.62224",
        "name": "",
        "links": [
            "d614fb86.b52658"
        ],
        "x": 475,
        "y": 440,
        "wires": []
    },
    {
        "id": "75c3c8e7.6d6d58",
        "type": "link out",
        "z": "9aeafd2a.62224",
        "name": "",
        "links": [
            "d614fb86.b52658"
        ],
        "x": 475,
        "y": 540,
        "wires": []
    },
    {
        "id": "8acd9860.b2f158",
        "type": "mqtt in",
        "z": "d9d0239.9656ae",
        "name": "Lamp 1",
        "topic": "home assistant/lamp 1",
        "qos": "2",
        "datatype": "json",
        "broker": "4ec1ae6.5ee7c5",
        "x": 1270,
        "y": 140,
        "wires": [
            [
                "904255b1.449a18"
            ]
        ]
    },
    {
        "id": "69ec522f.6d1d0c",
        "type": "mqtt out",
        "z": "d9d0239.9656ae",
        "name": "Send info to Lamp 1 mqtt",
        "topic": "home assistant/lamp 1",
        "qos": "2",
        "retain": "false",
        "broker": "4ec1ae6.5ee7c5",
        "x": 890,
        "y": 380,
        "wires": []
    },
    {
        "id": "4c019b5e.f43f94",
        "type": "inject",
        "z": "d9d0239.9656ae",
        "name": "On",
        "topic": "",
        "payload": "{\"state\":\"ON\", \"color\":\"0,255,0\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "5e24cb69.f4b594"
            ]
        ]
    },
    {
        "id": "e027a98b.b4bc88",
        "type": "zigbee2mqtt-out",
        "z": "d9d0239.9656ae",
        "name": "",
        "server": "54720da2.31fe84",
        "friendly_name": "Lamp 1",
        "device_id": "0x842e14fffe2a3505",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "transition": 0,
        "x": 1760,
        "y": 80,
        "wires": []
    },
    {
        "id": "d47fbcf0.df305",
        "type": "zigbee2mqtt-out",
        "z": "d9d0239.9656ae",
        "name": "",
        "server": "54720da2.31fe84",
        "friendly_name": "Lamp 1",
        "device_id": "0x842e14fffe2a3505",
        "command": "color_rgb",
        "commandType": "z2m_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "transition": 0,
        "x": 1760,
        "y": 140,
        "wires": []
    },
    {
        "id": "5f48a64.5315758",
        "type": "inject",
        "z": "d9d0239.9656ae",
        "name": "Off",
        "topic": "",
        "payload": "{\"state\":\"OFF\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "5e24cb69.f4b594"
            ]
        ]
    },
    {
        "id": "3ca987db.090988",
        "type": "inject",
        "z": "d9d0239.9656ae",
        "name": "On",
        "topic": "",
        "payload": "{\"state\":\"ON\", \"color\":\"255,255,240\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 370,
        "y": 60,
        "wires": [
            [
                "5e24cb69.f4b594"
            ]
        ]
    },
    {
        "id": "99617b40.df7338",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "state",
        "func": "msg.payload = msg.payload.state;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1590,
        "y": 80,
        "wires": [
            [
                "e027a98b.b4bc88"
            ]
        ]
    },
    {
        "id": "d14964e9.324bf8",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "color",
        "func": "msg.payload = msg.payload.color;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1590,
        "y": 140,
        "wires": [
            [
                "d47fbcf0.df305"
            ]
        ]
    },
    {
        "id": "904255b1.449a18",
        "type": "switch",
        "z": "d9d0239.9656ae",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "state",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "color",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "brightness",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1410,
        "y": 140,
        "wires": [
            [
                "99617b40.df7338"
            ],
            [
                "d14964e9.324bf8"
            ],
            [
                "c96277f2.a53998"
            ]
        ]
    },
    {
        "id": "abad01d5.a0735",
        "type": "inject",
        "z": "d9d0239.9656ae",
        "name": "toggle",
        "topic": "",
        "payload": "{\"state\":\"toggle\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "5e24cb69.f4b594"
            ]
        ]
    },
    {
        "id": "8c1b4cc5.73aa6",
        "type": "ui_button",
        "z": "d9d0239.9656ae",
        "name": "",
        "group": "5b148da4.232e64",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Toggle lamp 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"state\":\"toggle\"}",
        "payloadType": "json",
        "topic": "",
        "x": 200,
        "y": 340,
        "wires": [
            [
                "5e24cb69.f4b594"
            ]
        ]
    },
    {
        "id": "a1118652.a6cab8",
        "type": "ui_colour_picker",
        "z": "d9d0239.9656ae",
        "name": "Color Lamp 1",
        "label": "Color Lamp 1",
        "group": "5b148da4.232e64",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 200,
        "y": 380,
        "wires": [
            [
                "5b9deeed.d2c7b"
            ]
        ]
    },
    {
        "id": "5b9deeed.d2c7b",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "",
        "func": "\nvalue = {};\nc = msg.payload;\nvalue.color = c.r + \",\" + c.g + \",\" + c.b;\nvalue.state = \"on\";\n\nmsg.payload = value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 380,
        "wires": [
            [
                "5e24cb69.f4b594"
            ]
        ]
    },
    {
        "id": "6bc8cf23.1decc",
        "type": "zigbee2mqtt-out",
        "z": "d9d0239.9656ae",
        "name": "",
        "server": "54720da2.31fe84",
        "friendly_name": "",
        "device_id": "0x842e14fffe2a3505",
        "command": "brightness",
        "commandType": "z2m_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "transition": 0,
        "x": 1800,
        "y": 200,
        "wires": []
    },
    {
        "id": "c96277f2.a53998",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "brightness",
        "func": "msg.payload = msg.payload.brightness;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1610,
        "y": 200,
        "wires": [
            [
                "6bc8cf23.1decc"
            ]
        ]
    },
    {
        "id": "9f515e7c.581e3",
        "type": "ui_slider",
        "z": "d9d0239.9656ae",
        "name": "Brightness Lamp 1",
        "label": "Brightness Lamp 1",
        "tooltip": "",
        "group": "5b148da4.232e64",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "255",
        "step": 1,
        "x": 210,
        "y": 420,
        "wires": [
            [
                "f3383d4a.2347b"
            ]
        ]
    },
    {
        "id": "f3383d4a.2347b",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "",
        "func": "\nvalue = {};\nvalue.brightness = msg.payload;\nvalue.state = \"on\";\n\nmsg.payload = value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 420,
        "wires": [
            [
                "5e24cb69.f4b594"
            ]
        ]
    },
    {
        "id": "e3d8443.2d086b8",
        "type": "mqtt in",
        "z": "d9d0239.9656ae",
        "name": "Oprit",
        "topic": "home assistant/oprit",
        "qos": "2",
        "datatype": "json",
        "broker": "4ec1ae6.5ee7c5",
        "x": 1270,
        "y": 360,
        "wires": [
            [
                "8a903e12.2798f"
            ]
        ]
    },
    {
        "id": "57848d23.8ec964",
        "type": "zigbee2mqtt-out",
        "z": "d9d0239.9656ae",
        "name": "",
        "server": "54720da2.31fe84",
        "friendly_name": "Oprit",
        "device_id": "0x7cb03eaa0a079953",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "transition": 0,
        "x": 1750,
        "y": 300,
        "wires": []
    },
    {
        "id": "6ba79a64.d1d7f4",
        "type": "zigbee2mqtt-out",
        "z": "d9d0239.9656ae",
        "name": "",
        "server": "54720da2.31fe84",
        "friendly_name": "Oprit",
        "device_id": "0x7cb03eaa0a079953",
        "command": "color_rgb",
        "commandType": "z2m_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "transition": 0,
        "x": 1750,
        "y": 360,
        "wires": []
    },
    {
        "id": "12f1705e.9200b",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "state",
        "func": "msg.payload = msg.payload.state;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1590,
        "y": 300,
        "wires": [
            [
                "57848d23.8ec964"
            ]
        ]
    },
    {
        "id": "90b81bd4.4ce268",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "color",
        "func": "msg.payload = msg.payload.color;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1590,
        "y": 360,
        "wires": [
            [
                "6ba79a64.d1d7f4"
            ]
        ]
    },
    {
        "id": "8a903e12.2798f",
        "type": "switch",
        "z": "d9d0239.9656ae",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "state",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "color",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "brightness",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1410,
        "y": 360,
        "wires": [
            [
                "12f1705e.9200b"
            ],
            [
                "90b81bd4.4ce268"
            ],
            []
        ]
    },
    {
        "id": "5e24cb69.f4b594",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 380,
        "wires": [
            [
                "69ec522f.6d1d0c"
            ]
        ]
    },
    {
        "id": "6437ff01.981f4",
        "type": "ui_button",
        "z": "d9d0239.9656ae",
        "name": "",
        "group": "5b148da4.232e64",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Aan",
        "tooltip": "Lamp",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"state\":\"ON\", \"color\":\"255,255,255\"}",
        "payloadType": "json",
        "topic": "",
        "x": 170,
        "y": 460,
        "wires": [
            [
                "5e24cb69.f4b594"
            ]
        ]
    },
    {
        "id": "7ffd389c.ea5ae8",
        "type": "ui_button",
        "z": "d9d0239.9656ae",
        "name": "",
        "group": "5b148da4.232e64",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Uit",
        "tooltip": "Lamp",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"state\":\"OFF\"}",
        "payloadType": "json",
        "topic": "",
        "x": 170,
        "y": 500,
        "wires": [
            [
                "5e24cb69.f4b594"
            ]
        ]
    },
    {
        "id": "ba32f344.363f5",
        "type": "mqtt out",
        "z": "d9d0239.9656ae",
        "name": "Send info to oprit mqtt",
        "topic": "home assistant/oprit",
        "qos": "2",
        "retain": "false",
        "broker": "4ec1ae6.5ee7c5",
        "x": 920,
        "y": 600,
        "wires": []
    },
    {
        "id": "3a89e7ff.5213e8",
        "type": "ui_button",
        "z": "d9d0239.9656ae",
        "name": "",
        "group": "5b148da4.232e64",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Toggle oprit",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"state\":\"toggle\"}",
        "payloadType": "json",
        "topic": "",
        "x": 190,
        "y": 560,
        "wires": [
            [
                "543372df.c121dc"
            ]
        ]
    },
    {
        "id": "a02ca441.8fb4a8",
        "type": "ui_colour_picker",
        "z": "d9d0239.9656ae",
        "name": "Color oprit 1",
        "label": "Color oprit 1",
        "group": "5b148da4.232e64",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "66866646.ee2a68"
            ]
        ]
    },
    {
        "id": "82bd5232.391ec",
        "type": "ui_button",
        "z": "d9d0239.9656ae",
        "name": "",
        "group": "5b148da4.232e64",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Aan",
        "tooltip": "Oprit",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"state\":\"ON\", \"color\":\"255,255,255\"}",
        "payloadType": "json",
        "topic": "",
        "x": 170,
        "y": 680,
        "wires": [
            [
                "543372df.c121dc",
                "a6025ba8.2888e8"
            ]
        ]
    },
    {
        "id": "c7114eff.f91a5",
        "type": "ui_button",
        "z": "d9d0239.9656ae",
        "name": "",
        "group": "5b148da4.232e64",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Uit",
        "tooltip": "Oprit",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"state\":\"OFF\"}",
        "payloadType": "json",
        "topic": "",
        "x": 170,
        "y": 720,
        "wires": [
            [
                "543372df.c121dc",
                "a6025ba8.2888e8"
            ]
        ]
    },
    {
        "id": "66866646.ee2a68",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "",
        "func": "\nvalue = {};\nc = msg.payload;\nvalue.color = c.r + \",\" + c.g + \",\" + c.b;\nvalue.state = \"on\";\n\nmsg.payload = value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 600,
        "wires": [
            [
                "543372df.c121dc"
            ]
        ]
    },
    {
        "id": "543372df.c121dc",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 600,
        "wires": [
            [
                "ba32f344.363f5"
            ]
        ]
    },
    {
        "id": "3f7af3e4.d21f4c",
        "type": "zigbee2mqtt-out",
        "z": "d9d0239.9656ae",
        "name": "",
        "server": "54720da2.31fe84",
        "friendly_name": "Oprit",
        "device_id": "0x7cb03eaa0a079953",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "transition": 0,
        "x": 630,
        "y": 740,
        "wires": []
    },
    {
        "id": "a6025ba8.2888e8",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "state",
        "func": "msg.payload = msg.payload.state;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 740,
        "wires": [
            [
                "3f7af3e4.d21f4c"
            ]
        ]
    },
    {
        "id": "46c1bd6b.006f44",
        "type": "light-scheduler",
        "z": "d9d0239.9656ae",
        "settings": "e0dd3b52.9b32b8",
        "events": "[{\"start\":{\"dow\":2,\"mod\":450},\"end\":{\"dow\":2,\"mod\":570}},{\"start\":{\"dow\":1,\"mod\":450},\"end\":{\"dow\":1,\"mod\":570}},{\"start\":{\"dow\":3,\"mod\":450},\"end\":{\"dow\":3,\"mod\":570}},{\"start\":{\"dow\":4,\"mod\":450},\"end\":{\"dow\":4,\"mod\":570}},{\"start\":{\"dow\":5,\"mod\":450},\"end\":{\"dow\":5,\"mod\":570}},{\"start\":{\"dow\":6,\"mod\":480},\"end\":{\"dow\":6,\"mod\":570}},{\"start\":{\"dow\":0,\"mod\":480},\"end\":{\"dow\":0,\"mod\":570}},{\"start\":{\"dow\":1,\"mod\":915},\"end\":{\"dow\":1,\"mod\":1320}},{\"start\":{\"dow\":2,\"mod\":915},\"end\":{\"dow\":2,\"mod\":1320}},{\"start\":{\"dow\":3,\"mod\":915},\"end\":{\"dow\":3,\"mod\":1320}},{\"start\":{\"dow\":4,\"mod\":915},\"end\":{\"dow\":4,\"mod\":1320}},{\"start\":{\"dow\":5,\"mod\":915},\"end\":{\"dow\":5,\"mod\":1320}},{\"start\":{\"dow\":6,\"mod\":915},\"end\":{\"dow\":6,\"mod\":1320}},{\"start\":{\"dow\":0,\"mod\":915},\"end\":{\"dow\":0,\"mod\":1320}}]",
        "topic": "",
        "name": "",
        "onPayload": "ON",
        "onPayloadType": "str",
        "offPayload": "OFF",
        "offPayloadType": "str",
        "onlyWhenDark": true,
        "scheduleRndMax": 0,
        "sunElevationThreshold": 6,
        "sunShowElevationInStatus": true,
        "outputfreq": "output.minutely",
        "x": 1300,
        "y": 600,
        "wires": [
            [
                "713e6450.04df7c"
            ]
        ]
    },
    {
        "id": "d691d08a.db6b3",
        "type": "zigbee2mqtt-bridge",
        "z": "b373cb64.b32288",
        "name": "Zigbee",
        "server": "54720da2.31fe84",
        "topic": null,
        "x": 210,
        "y": 60,
        "wires": [
            [
                "611eac0a.97eb94"
            ]
        ]
    },
    {
        "id": "611eac0a.97eb94",
        "type": "debug",
        "z": "b373cb64.b32288",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 530,
        "y": 60,
        "wires": []
    },
    {
        "id": "98de5e5f.0a13a",
        "type": "zigbee2mqtt-get",
        "z": "b373cb64.b32288",
        "name": "",
        "server": "54720da2.31fe84",
        "friendly_name": "Oprit",
        "device_id": "0x7cb03eaa0a079953",
        "state": "0",
        "x": 530,
        "y": 200,
        "wires": [
            [
                "2cfb488.27ac9b8"
            ]
        ]
    },
    {
        "id": "610b9d32.351ba4",
        "type": "inject",
        "z": "b373cb64.b32288",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "6601f4.6716ce0c",
                "63daee8e.d7684",
                "24a15c8c.754094",
                "98de5e5f.0a13a"
            ]
        ]
    },
    {
        "id": "6601f4.6716ce0c",
        "type": "zigbee2mqtt-get",
        "z": "b373cb64.b32288",
        "name": "",
        "server": "54720da2.31fe84",
        "friendly_name": "Lamp 1",
        "device_id": "0x842e14fffe2a3505",
        "state": "0",
        "x": 540,
        "y": 260,
        "wires": [
            [
                "24ff7e9a.839352"
            ]
        ]
    },
    {
        "id": "24a15c8c.754094",
        "type": "zigbee2mqtt-get",
        "z": "b373cb64.b32288",
        "name": "",
        "server": "54720da2.31fe84",
        "friendly_name": "Coordinator",
        "device_id": "0x00124b0014d9b724",
        "state": "0",
        "x": 550,
        "y": 140,
        "wires": [
            [
                "995ed04e.e1cb1"
            ]
        ]
    },
    {
        "id": "63daee8e.d7684",
        "type": "zigbee2mqtt-get",
        "z": "b373cb64.b32288",
        "name": "",
        "server": "54720da2.31fe84",
        "friendly_name": "Router 1",
        "device_id": "0x00124b0018e2a303",
        "state": "0",
        "x": 540,
        "y": 340,
        "wires": [
            [
                "ddb9f535.a70f28"
            ]
        ]
    },
    {
        "id": "ddb9f535.a70f28",
        "type": "debug",
        "z": "b373cb64.b32288",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 850,
        "y": 340,
        "wires": []
    },
    {
        "id": "995ed04e.e1cb1",
        "type": "debug",
        "z": "b373cb64.b32288",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 850,
        "y": 140,
        "wires": []
    },
    {
        "id": "216566cb.e35e5a",
        "type": "comment",
        "z": "b373cb64.b32288",
        "name": "Router",
        "info": "",
        "x": 1010,
        "y": 340,
        "wires": []
    },
    {
        "id": "d8ed76c.5ced188",
        "type": "comment",
        "z": "b373cb64.b32288",
        "name": "Coodinator",
        "info": "",
        "x": 1020,
        "y": 140,
        "wires": []
    },
    {
        "id": "65a5d493.3740ac",
        "type": "ui_led",
        "z": "b373cb64.b32288",
        "group": "5b148da4.232e64",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Lamp 1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": true,
        "name": "Lamp 1",
        "x": 1020,
        "y": 260,
        "wires": []
    },
    {
        "id": "24ff7e9a.839352",
        "type": "function",
        "z": "b373cb64.b32288",
        "name": "",
        "func": "state = false;\nif (msg.payload.state == \"ON\") {\n    state = true;\n}\nif (msg.payload.state == \"OFF\") {\n    state = false;\n}\n\nmsg.payload = state;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 260,
        "wires": [
            [
                "65a5d493.3740ac"
            ]
        ]
    },
    {
        "id": "2cfb488.27ac9b8",
        "type": "function",
        "z": "b373cb64.b32288",
        "name": "",
        "func": "state = false;\nif (msg.payload.state == \"ON\") {\n    state = true;\n}\nif (msg.payload.state == \"OFF\") {\n    state = false;\n}\n\nmsg.payload = state;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 200,
        "wires": [
            [
                "84b89945.8bc7e8"
            ]
        ]
    },
    {
        "id": "84b89945.8bc7e8",
        "type": "ui_led",
        "z": "b373cb64.b32288",
        "group": "5b148da4.232e64",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Oprit",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": true,
        "name": "Oprit",
        "x": 1010,
        "y": 200,
        "wires": []
    },
    {
        "id": "5f95b5b4.66211c",
        "type": "zigbee2mqtt-get",
        "z": "b373cb64.b32288",
        "name": "Roan",
        "server": "54720da2.31fe84",
        "friendly_name": "Roan",
        "device_id": "0x00158d0003538d84",
        "state": "0",
        "x": 530,
        "y": 480,
        "wires": [
            [
                "9addd3a.b2aac3"
            ]
        ]
    },
    {
        "id": "6878397f.211708",
        "type": "zigbee2mqtt-get",
        "z": "b373cb64.b32288",
        "name": "Jelmar",
        "server": "54720da2.31fe84",
        "friendly_name": "Jelmar",
        "device_id": "0x00158d0003a3519d",
        "state": "0",
        "x": 530,
        "y": 420,
        "wires": [
            [
                "dd524ec8.fb25"
            ]
        ]
    },
    {
        "id": "da277ed1.50022",
        "type": "zigbee2mqtt-get",
        "z": "b373cb64.b32288",
        "name": "Senne",
        "server": "54720da2.31fe84",
        "friendly_name": "Senne",
        "device_id": "0x00158d0003cebcba",
        "state": "0",
        "x": 530,
        "y": 540,
        "wires": [
            [
                "cccd8b10.505b78"
            ]
        ]
    },
    {
        "id": "b4e1b2f1.d11ed",
        "type": "inject",
        "z": "b373cb64.b32288",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "*/1 6-21 * * *",
        "once": true,
        "onceDelay": "10",
        "x": 290,
        "y": 440,
        "wires": [
            [
                "6878397f.211708",
                "5f95b5b4.66211c",
                "da277ed1.50022",
                "31dc9343.80d85c"
            ]
        ]
    },
    {
        "id": "8921e242.0b6ed",
        "type": "ui_led",
        "z": "b373cb64.b32288",
        "group": "e480e105.3a76c",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Deur Jelmar",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": true,
        "name": "Deur Jelmar",
        "x": 1910,
        "y": 140,
        "wires": []
    },
    {
        "id": "b12a9893.55b248",
        "type": "ui_led",
        "z": "b373cb64.b32288",
        "group": "e480e105.3a76c",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Deur Roan",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": true,
        "name": "Deur Roan",
        "x": 1910,
        "y": 180,
        "wires": []
    },
    {
        "id": "518d3bd5.2af4d4",
        "type": "ui_led",
        "z": "b373cb64.b32288",
        "group": "e480e105.3a76c",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Deur Senne",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": true,
        "name": "Deur Senne",
        "x": 1910,
        "y": 240,
        "wires": []
    },
    {
        "id": "713e6450.04df7c",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "",
        "func": "\nvalue = {};\nvalue.state = msg.payload;\n\nmsg.payload = value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1490,
        "y": 600,
        "wires": [
            [
                "510769e8.3af2b8"
            ]
        ]
    },
    {
        "id": "510769e8.3af2b8",
        "type": "mqtt out",
        "z": "d9d0239.9656ae",
        "name": "Send info to oprit mqtt",
        "topic": "home assistant/oprit",
        "qos": "2",
        "retain": "false",
        "broker": "4ec1ae6.5ee7c5",
        "x": 1760,
        "y": 600,
        "wires": []
    },
    {
        "id": "31dc9343.80d85c",
        "type": "zigbee2mqtt-get",
        "z": "b373cb64.b32288",
        "name": "Zolder",
        "server": "54720da2.31fe84",
        "friendly_name": "Zolder",
        "device_id": "0x00158d0003a354c8",
        "state": "0",
        "x": 530,
        "y": 600,
        "wires": [
            [
                "1b0f97bd.c43688"
            ]
        ]
    },
    {
        "id": "2a045361.f5266c",
        "type": "function",
        "z": "b373cb64.b32288",
        "name": "",
        "func": "state = false;\nif (msg.payload.contact) {\n    state = true;\n} else {\n    state = false;\n}\n\nmsg.payload = state;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1590,
        "y": 220,
        "wires": [
            [
                "61f1fa86.eb0064",
                "397df7a3.a2bfb8"
            ]
        ]
    },
    {
        "id": "eb60f9e1.850748",
        "type": "ui_led",
        "z": "b373cb64.b32288",
        "group": "e480e105.3a76c",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Deur Zolder",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": true,
        "name": "Deur Zolder",
        "x": 1910,
        "y": 300,
        "wires": []
    },
    {
        "id": "53961986.368f18",
        "type": "mqtt out",
        "z": "b373cb64.b32288",
        "name": "Send info to mqtt",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "4ec1ae6.5ee7c5",
        "x": 1150,
        "y": 480,
        "wires": []
    },
    {
        "id": "dd524ec8.fb25",
        "type": "function",
        "z": "b373cb64.b32288",
        "name": "",
        "func": "\nmsg.topic = \"deur/jelmar\" ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 420,
        "wires": [
            [
                "2b569986.30fcd6"
            ]
        ]
    },
    {
        "id": "9addd3a.b2aac3",
        "type": "function",
        "z": "b373cb64.b32288",
        "name": "",
        "func": "\nmsg.topic = \"deur/roan\" ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 480,
        "wires": [
            [
                "2b569986.30fcd6"
            ]
        ]
    },
    {
        "id": "cccd8b10.505b78",
        "type": "function",
        "z": "b373cb64.b32288",
        "name": "",
        "func": "msg.topic = \"deur/senne\" ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 540,
        "wires": [
            [
                "2b569986.30fcd6"
            ]
        ]
    },
    {
        "id": "1b0f97bd.c43688",
        "type": "function",
        "z": "b373cb64.b32288",
        "name": "",
        "func": "\nmsg.topic = \"deur/zolder\" ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 600,
        "wires": [
            [
                "2b569986.30fcd6"
            ]
        ]
    },
    {
        "id": "ff90ae7.8e3bd5",
        "type": "function",
        "z": "b373cb64.b32288",
        "name": "",
        "func": "state = \" gesloten\";\n\nif(msg.payload) {\n    if(msg.payload) {\n        state = \" gesloten\";\n    } else {\n        state = \" open\";\n    }\n}\ns = msg.topic.split(\"/\")\n\nmsg.payload =  s[1] + \" \" +  state;\n\nmsg.topic = \"#node-red\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1870,
        "y": 400,
        "wires": [
            [
                "f6db30e1.35fad"
            ]
        ]
    },
    {
        "id": "f6db30e1.35fad",
        "type": "slack-web-out",
        "z": "b373cb64.b32288",
        "client": "11953a91.2f6945",
        "name": "Slack send",
        "x": 2050,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "397df7a3.a2bfb8",
        "type": "switch",
        "z": "b373cb64.b32288",
        "name": "",
        "property": "payload.changed",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1730,
        "y": 400,
        "wires": [
            [
                "ff90ae7.8e3bd5"
            ]
        ]
    },
    {
        "id": "fb24ee2a.c404c",
        "type": "mqtt in",
        "z": "b373cb64.b32288",
        "name": "Deur zolder",
        "topic": "deur/zolder",
        "qos": "2",
        "datatype": "json",
        "broker": "4ec1ae6.5ee7c5",
        "x": 1410,
        "y": 300,
        "wires": [
            [
                "2a045361.f5266c"
            ]
        ]
    },
    {
        "id": "61f1fa86.eb0064",
        "type": "switch",
        "z": "b373cb64.b32288",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "deur/jelmar",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "deur/roan",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "deur/senne",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "deur/zolder",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1730,
        "y": 220,
        "wires": [
            [
                "8921e242.0b6ed"
            ],
            [
                "b12a9893.55b248"
            ],
            [
                "518d3bd5.2af4d4"
            ],
            [
                "eb60f9e1.850748"
            ]
        ]
    },
    {
        "id": "29bee0f6.7a157",
        "type": "mqtt in",
        "z": "b373cb64.b32288",
        "name": "Deur senne",
        "topic": "deur/senne",
        "qos": "2",
        "datatype": "json",
        "broker": "4ec1ae6.5ee7c5",
        "x": 1410,
        "y": 240,
        "wires": [
            [
                "2a045361.f5266c"
            ]
        ]
    },
    {
        "id": "6e305a01.8793c4",
        "type": "mqtt in",
        "z": "b373cb64.b32288",
        "name": "Deur roan",
        "topic": "deur/roan",
        "qos": "2",
        "datatype": "json",
        "broker": "4ec1ae6.5ee7c5",
        "x": 1400,
        "y": 180,
        "wires": [
            [
                "2a045361.f5266c"
            ]
        ]
    },
    {
        "id": "5e555034.593ce",
        "type": "mqtt in",
        "z": "b373cb64.b32288",
        "name": "Deur Jelmar",
        "topic": "deur/jelmar",
        "qos": "2",
        "datatype": "json",
        "broker": "4ec1ae6.5ee7c5",
        "x": 1410,
        "y": 120,
        "wires": [
            [
                "2a045361.f5266c"
            ]
        ]
    },
    {
        "id": "2b569986.30fcd6",
        "type": "function",
        "z": "b373cb64.b32288",
        "name": "Determine status",
        "func": "// anything stored in context is kept available for next time we get called\n\ns = msg.topic.split(\"/\")\nmsg.payload.changed = false;\n\nif (flow.get(\"deur\" + s[1]) != msg.payload.contact) { \n    msg.payload.changed = true\n}\nflow.set(\"deur\" + s[1], msg.payload.contact);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 480,
        "wires": [
            [
                "53961986.368f18"
            ]
        ]
    }
]