roles/node-red-flows/templates/Zigbee.json
[
    {
        "id": "d9d0239.9656ae",
        "type": "tab",
        "label": "Zigbee",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9aeafd2a.62224",
        "type": "tab",
        "label": "Netwerk",
        "disabled": false,
        "info": ""
    },
    {
        "id": "54720da2.31fe84",
        "type": "zigbee2mqtt-server",
        "z": "",
        "name": "Zigbee",
        "host": "localhost",
        "mqtt_port": "1883",
        "mqtt_username": "",
        "mqtt_password": "",
        "tls": "",
        "usetls": false,
        "base_topic": "zigbee2mqtt"
    },
    {
        "id": "ac5435ab.ce7598",
        "type": "ui_tab",
        "z": "",
        "name": "Quick Overview",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "fb0248e0.17bda8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "769db11.ae0b35",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "ac5435ab.ce7598",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3cc250b7.c81dd",
        "type": "ui_group",
        "z": "",
        "name": "Latency Guage",
        "tab": "e792fa71.415768",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "e3c4b049.9ac",
        "type": "ui_group",
        "z": "",
        "name": "SERVER RACK",
        "tab": "e792fa71.415768",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "e792fa71.415768",
        "type": "ui_tab",
        "z": "",
        "name": "Quick Overview",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "62cf5dc4.f5deb4",
        "type": "mqtt-broker",
        "broker": "localhost",
        "port": "1883"
    },
    {
        "id": "4ec1ae6.5ee7c5",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "606c92e8.3b8f6c",
        "type": "ui_tab",
        "z": "",
        "name": "Thuis",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5b148da4.232e64",
        "type": "ui_group",
        "z": "",
        "name": "Thuis",
        "tab": "606c92e8.3b8f6c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b8724f6a.d92c3",
        "type": "slackbot-controller",
        "z": "",
        "name": "revenberg_nodered",
        "bot_token": "xoxb-319704114455-1614678738321-z1oL6KxYfSWbSgmhVAOpkqJu"
    },
    {
        "id": "11953a91.2f6945",
        "type": "slack-config",
        "z": "",
        "name": "slack-token"
    },
    {
        "id": "915257.9ab1bda8",
        "type": "slack-config",
        "z": "",
        "name": "slack-token"
    },
    {
        "id": "e0dd3b52.9b32b8",
        "type": "light-scheduler-settings",
        "z": "",
        "name": "Thuis",
        "latitude": "53.179807",
        "longitude": "6.168264"
    },
    {
        "id": "9140c24a.7d508",
        "type": "catch",
        "z": 0,
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 2200,
        "y": 3480,
        "wires": [
            []
        ]
    },
    {
        "id": "3967375c.e7a068",
        "type": "zigbee2mqtt-bridge",
        "z": "d9d0239.9656ae",
        "name": "Zigbee",
        "server": "54720da2.31fe84",
        "topic": null,
        "x": 90,
        "y": 40,
        "wires": [
            [
                "1aee9773.ab2af9"
            ]
        ]
    },
    {
        "id": "1aee9773.ab2af9",
        "type": "debug",
        "z": "d9d0239.9656ae",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 410,
        "y": 40,
        "wires": []
    },
    {
        "id": "bda6d73c.a126c8",
        "type": "zigbee2mqtt-get",
        "z": "d9d0239.9656ae",
        "name": "",
        "server": "54720da2.31fe84",
        "friendly_name": "Oprit",
        "device_id": "0x7cb03eaa0a079953",
        "state": "0",
        "x": 410,
        "y": 180,
        "wires": [
            [
                "b1b655e5.e41968"
            ]
        ]
    },
    {
        "id": "86cb9243.80377",
        "type": "inject",
        "z": "d9d0239.9656ae",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "c887f7e8.0cd618",
                "a501d2b6.cac79",
                "36b1bef2.c546c2",
                "bda6d73c.a126c8"
            ]
        ]
    },
    {
        "id": "c887f7e8.0cd618",
        "type": "zigbee2mqtt-get",
        "z": "d9d0239.9656ae",
        "name": "",
        "server": "54720da2.31fe84",
        "friendly_name": "Lamp 1",
        "device_id": "0x842e14fffe2a3505",
        "state": "0",
        "x": 420,
        "y": 240,
        "wires": [
            [
                "429608c.8fc6ff8"
            ]
        ]
    },
    {
        "id": "36b1bef2.c546c2",
        "type": "zigbee2mqtt-get",
        "z": "d9d0239.9656ae",
        "name": "",
        "server": "54720da2.31fe84",
        "friendly_name": "Coordinator",
        "device_id": "0x00124b0014d9b724",
        "state": "0",
        "x": 430,
        "y": 120,
        "wires": [
            [
                "e9b8e518.782708"
            ]
        ]
    },
    {
        "id": "a501d2b6.cac79",
        "type": "zigbee2mqtt-get",
        "z": "d9d0239.9656ae",
        "name": "",
        "server": "54720da2.31fe84",
        "friendly_name": "Router 1",
        "device_id": "0x00124b0018e2a303",
        "state": "0",
        "x": 420,
        "y": 320,
        "wires": [
            [
                "c089eaa6.b31438"
            ]
        ]
    },
    {
        "id": "c089eaa6.b31438",
        "type": "debug",
        "z": "d9d0239.9656ae",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "e9b8e518.782708",
        "type": "debug",
        "z": "d9d0239.9656ae",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "1e86e070.517",
        "type": "catch",
        "z": "9aeafd2a.62224",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 2200,
        "y": 3480,
        "wires": [
            []
        ]
    },
    {
        "id": "9db42f61.fb743",
        "type": "mqtt in",
        "z": "9aeafd2a.62224",
        "name": "Sander presence",
        "topic": "wifi/192.168.2.70",
        "qos": "2",
        "datatype": "json",
        "broker": "4ec1ae6.5ee7c5",
        "x": 180,
        "y": 400,
        "wires": [
            [
                "6f1a3d.1f48a5c4"
            ]
        ]
    },
    {
        "id": "4850edcc.ed5f54",
        "type": "arp",
        "z": "9aeafd2a.62224",
        "name": "ARP",
        "macs": "",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "e2c06e60.49408"
            ]
        ]
    },
    {
        "id": "9a86ea9f.29feb8",
        "type": "inject",
        "z": "9aeafd2a.62224",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "4850edcc.ed5f54"
            ]
        ]
    },
    {
        "id": "e2c06e60.49408",
        "type": "split",
        "z": "9aeafd2a.62224",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 530,
        "y": 160,
        "wires": [
            [
                "b8249e81.65604"
            ]
        ]
    },
    {
        "id": "1a6a4ec5.3f81f1",
        "type": "adv ping",
        "z": "9aeafd2a.62224",
        "name": "",
        "host": "",
        "x": 960,
        "y": 160,
        "wires": [
            [
                "462475c9.8fc48c"
            ]
        ]
    },
    {
        "id": "b8249e81.65604",
        "type": "function",
        "z": "9aeafd2a.62224",
        "name": "Analyze Result 2",
        "func": "// anything stored in context is kept available for next time we get called\ncontext.ip = \"\";\n\nif(msg.payload) {\n    if(msg.payload.ip) {\n    context.ip = msg.payload.ip;\n    }\n} \n\nmsg.host=context.ip;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 160,
        "wires": [
            [
                "1a6a4ec5.3f81f1"
            ]
        ]
    },
    {
        "id": "462475c9.8fc48c",
        "type": "function",
        "z": "9aeafd2a.62224",
        "name": "Analyze Result",
        "func": "// anything stored in context is kept available for next time we get called\n_context = {};\n\n_context.ip = msg._payload.ip;\n\nif(msg.payload) {\n  _context.pingresponse = msg.payload;\n  _context.home = 'Home';\n}\n\nmsg.payload = _context;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1180,
        "y": 160,
        "wires": [
            [
                "6901deee.a665b"
            ]
        ]
    },
    {
        "id": "f6e1ba11.cb7ad8",
        "type": "mqtt out",
        "z": "9aeafd2a.62224",
        "name": "Send info to mqtt",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "4ec1ae6.5ee7c5",
        "x": 1630,
        "y": 160,
        "wires": []
    },
    {
        "id": "78e01b90.d23804",
        "type": "function",
        "z": "9aeafd2a.62224",
        "name": "",
        "func": "\nhome = 0;\nif(msg.payload) {\n    if(msg.payload.home == \"Home\") {\n        home = 2;\n    } else {\n        if(msg.payload.count) {\n            home = 1;\n        }\n    }\n}\nmsg.payload = home;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 400,
        "wires": [
            [
                "bf16e062.6ef71"
            ]
        ]
    },
    {
        "id": "bf16e062.6ef71",
        "type": "ui_led",
        "z": "9aeafd2a.62224",
        "group": "5b148da4.232e64",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Sander",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "orange",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 670,
        "y": 400,
        "wires": []
    },
    {
        "id": "7a94477b.4b2a68",
        "type": "mqtt in",
        "z": "9aeafd2a.62224",
        "name": "Bonny presence",
        "topic": "wifi/192.168.2.72",
        "qos": "2",
        "datatype": "json",
        "broker": "4ec1ae6.5ee7c5",
        "x": 180,
        "y": 480,
        "wires": [
            [
                "ce5d0528.7a06b8"
            ]
        ]
    },
    {
        "id": "64922542.bd2edc",
        "type": "mqtt in",
        "z": "9aeafd2a.62224",
        "name": "Jelmar presence",
        "topic": "wifi/192.168.2.71",
        "qos": "2",
        "datatype": "json",
        "broker": "4ec1ae6.5ee7c5",
        "x": 180,
        "y": 580,
        "wires": [
            [
                "5e34fd20.aed534"
            ]
        ]
    },
    {
        "id": "6901deee.a665b",
        "type": "function",
        "z": "9aeafd2a.62224",
        "name": "Determine status",
        "func": "// anything stored in context is kept available for next time we get called\n\n//_payload = {};\n_payload = msg.payload;\ndefault_count = 25 * 4;\n\nc = flow.get(msg.payload.ip + 'status') || \"Away\";\n_payload.changed = false;\n\nif(msg.payload.pingresponse) {\n  _payload.count = default_count;\n  flow.set(msg.payload.ip + 'count', _payload.count);\n  flow.set(msg.payload.ip + 'status', \"Home\");\n  if (c == \"Away\") {\n      _payload.changed = true;\n  }\n} else {\n    _payload.home = flow.get(msg.payload.ip + 'status') || \"Home\";\n    if (_payload.home == \"Home\") {\n        count = (flow.get(msg.payload.ip + 'count') || default_count);\n        _payload.count = count - 1;\n        flow.set(msg.payload.ip + 'count', _payload.count);\n        if (count <= 1) {\n            flow.set(msg.payload.ip + 'status', \"Away\");\n            _payload.home = \"Away\";\n            if (c == \"Home\") {\n              _payload.changed = true;\n          }\n        }\n    }\n}\n\nmsg.topic = \"wifi/\" + msg.payload.ip;\nmsg.payload = _payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1410,
        "y": 160,
        "wires": [
            [
                "f6e1ba11.cb7ad8"
            ]
        ]
    },
    {
        "id": "a4c8a10.b4a256",
        "type": "function",
        "z": "9aeafd2a.62224",
        "name": "",
        "func": "\nhome = 0;\nif(msg.payload) {\n    if(msg.payload.home == \"Home\") {\n        home = 2;\n    } else {\n        if(msg.payload.count) {\n            home = 1;\n        }\n    }\n}\nmsg.payload = home;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 480,
        "wires": [
            [
                "8d1461dd.24f4d"
            ]
        ]
    },
    {
        "id": "8d1461dd.24f4d",
        "type": "ui_led",
        "z": "9aeafd2a.62224",
        "group": "5b148da4.232e64",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Bonny",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "orange",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 670,
        "y": 480,
        "wires": []
    },
    {
        "id": "c3a1008a.2fb0a",
        "type": "function",
        "z": "9aeafd2a.62224",
        "name": "",
        "func": "\nhome = 0;\nif(msg.payload) {\n    if(msg.payload.home == \"Home\") {\n        home = 2;\n    } else {\n        if(msg.payload.count) {\n            home = 1;\n        }\n    }\n}\nmsg.payload = home;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 580,
        "wires": [
            [
                "9e89c5a0.da7d68"
            ]
        ]
    },
    {
        "id": "9e89c5a0.da7d68",
        "type": "ui_led",
        "z": "9aeafd2a.62224",
        "group": "5b148da4.232e64",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Jelmar",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "orange",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 670,
        "y": 580,
        "wires": []
    },
    {
        "id": "24f21ef4.90f8b2",
        "type": "function",
        "z": "9aeafd2a.62224",
        "name": "",
        "func": "home = \" is niet thuis\";\n\nif(msg.payload) {\n    if(msg.payload.home == \"Home\") {\n        home = \" is thuis\";\n    }\n}\nmsg.payload =  msg.payload.name + home;\n\nmsg.topic = \"#node-red\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1310,
        "y": 420,
        "wires": [
            [
                "fbffea83.0cd9d8"
            ]
        ]
    },
    {
        "id": "fbffea83.0cd9d8",
        "type": "slack-web-out",
        "z": "9aeafd2a.62224",
        "client": "11953a91.2f6945",
        "name": "Slack send",
        "x": 1490,
        "y": 420,
        "wires": [
            [
                "4476cd37.b23724"
            ]
        ]
    },
    {
        "id": "4476cd37.b23724",
        "type": "debug",
        "z": "9aeafd2a.62224",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1670,
        "y": 420,
        "wires": []
    },
    {
        "id": "5a1603cb.e4e14c",
        "type": "switch",
        "z": "9aeafd2a.62224",
        "name": "",
        "property": "payload.changed",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1170,
        "y": 420,
        "wires": [
            [
                "24f21ef4.90f8b2"
            ]
        ]
    },
    {
        "id": "6f1a3d.1f48a5c4",
        "type": "function",
        "z": "9aeafd2a.62224",
        "name": "",
        "func": "\nmsg.payload.name = \"Sander\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 400,
        "wires": [
            [
                "4b6591b6.ccdda",
                "78e01b90.d23804"
            ]
        ]
    },
    {
        "id": "ce5d0528.7a06b8",
        "type": "function",
        "z": "9aeafd2a.62224",
        "name": "",
        "func": "\nmsg.payload.name = \"Bonny\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 480,
        "wires": [
            [
                "a4c8a10.b4a256",
                "d0a6a89b.de7198"
            ]
        ]
    },
    {
        "id": "5e34fd20.aed534",
        "type": "function",
        "z": "9aeafd2a.62224",
        "name": "",
        "func": "\nmsg.payload.name = \"Jelmar\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 580,
        "wires": [
            [
                "c3a1008a.2fb0a",
                "75c3c8e7.6d6d58"
            ]
        ]
    },
    {
        "id": "4b6591b6.ccdda",
        "type": "link out",
        "z": "9aeafd2a.62224",
        "name": "",
        "links": [
            "d614fb86.b52658"
        ],
        "x": 475,
        "y": 360,
        "wires": []
    },
    {
        "id": "d614fb86.b52658",
        "type": "link in",
        "z": "9aeafd2a.62224",
        "name": "",
        "links": [
            "4b6591b6.ccdda",
            "d0a6a89b.de7198",
            "75c3c8e7.6d6d58"
        ],
        "x": 1055,
        "y": 420,
        "wires": [
            [
                "5a1603cb.e4e14c"
            ]
        ]
    },
    {
        "id": "d0a6a89b.de7198",
        "type": "link out",
        "z": "9aeafd2a.62224",
        "name": "",
        "links": [
            "d614fb86.b52658"
        ],
        "x": 475,
        "y": 440,
        "wires": []
    },
    {
        "id": "75c3c8e7.6d6d58",
        "type": "link out",
        "z": "9aeafd2a.62224",
        "name": "",
        "links": [
            "d614fb86.b52658"
        ],
        "x": 475,
        "y": 540,
        "wires": []
    },
    {
        "id": "4e996bd8.aa1894",
        "type": "comment",
        "z": "d9d0239.9656ae",
        "name": "Router",
        "info": "",
        "x": 890,
        "y": 320,
        "wires": []
    },
    {
        "id": "f44a719e.2d53b",
        "type": "comment",
        "z": "d9d0239.9656ae",
        "name": "Coodinator",
        "info": "",
        "x": 900,
        "y": 120,
        "wires": []
    },
    {
        "id": "8acd9860.b2f158",
        "type": "mqtt in",
        "z": "d9d0239.9656ae",
        "name": "Lamp 1",
        "topic": "home assistant/lamp 1",
        "qos": "2",
        "datatype": "json",
        "broker": "4ec1ae6.5ee7c5",
        "x": 1270,
        "y": 140,
        "wires": [
            [
                "904255b1.449a18"
            ]
        ]
    },
    {
        "id": "69ec522f.6d1d0c",
        "type": "mqtt out",
        "z": "d9d0239.9656ae",
        "name": "Send info to Lamp 1 mqtt",
        "topic": "home assistant/lamp 1",
        "qos": "2",
        "retain": "false",
        "broker": "4ec1ae6.5ee7c5",
        "x": 930,
        "y": 780,
        "wires": []
    },
    {
        "id": "4c019b5e.f43f94",
        "type": "inject",
        "z": "d9d0239.9656ae",
        "name": "On",
        "topic": "",
        "payload": "{\"state\":\"ON\", \"color\":\"0,255,0\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 410,
        "y": 520,
        "wires": [
            [
                "5e24cb69.f4b594",
                "12f1705e.9200b"
            ]
        ]
    },
    {
        "id": "e027a98b.b4bc88",
        "type": "zigbee2mqtt-out",
        "z": "d9d0239.9656ae",
        "name": "",
        "server": "54720da2.31fe84",
        "friendly_name": "Lamp 1",
        "device_id": "0x842e14fffe2a3505",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "transition": 0,
        "x": 1760,
        "y": 80,
        "wires": []
    },
    {
        "id": "d47fbcf0.df305",
        "type": "zigbee2mqtt-out",
        "z": "d9d0239.9656ae",
        "name": "",
        "server": "54720da2.31fe84",
        "friendly_name": "Lamp 1",
        "device_id": "0x842e14fffe2a3505",
        "command": "color_rgb",
        "commandType": "z2m_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "transition": 0,
        "x": 1760,
        "y": 140,
        "wires": []
    },
    {
        "id": "5f48a64.5315758",
        "type": "inject",
        "z": "d9d0239.9656ae",
        "name": "Off",
        "topic": "",
        "payload": "{\"state\":\"OFF\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 410,
        "y": 580,
        "wires": [
            [
                "5e24cb69.f4b594",
                "12f1705e.9200b"
            ]
        ]
    },
    {
        "id": "3ca987db.090988",
        "type": "inject",
        "z": "d9d0239.9656ae",
        "name": "On",
        "topic": "",
        "payload": "{\"state\":\"ON\", \"color\":\"255,255,240\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 410,
        "y": 460,
        "wires": [
            [
                "5e24cb69.f4b594",
                "12f1705e.9200b"
            ]
        ]
    },
    {
        "id": "99617b40.df7338",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "state",
        "func": "msg.payload = msg.payload.state;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1590,
        "y": 80,
        "wires": [
            [
                "e027a98b.b4bc88"
            ]
        ]
    },
    {
        "id": "d14964e9.324bf8",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "color",
        "func": "msg.payload = msg.payload.color;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1590,
        "y": 140,
        "wires": [
            [
                "d47fbcf0.df305"
            ]
        ]
    },
    {
        "id": "904255b1.449a18",
        "type": "switch",
        "z": "d9d0239.9656ae",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "state",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "color",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "brightness",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1410,
        "y": 140,
        "wires": [
            [
                "99617b40.df7338"
            ],
            [
                "d14964e9.324bf8"
            ],
            [
                "c96277f2.a53998"
            ]
        ]
    },
    {
        "id": "abad01d5.a0735",
        "type": "inject",
        "z": "d9d0239.9656ae",
        "name": "toggle",
        "topic": "",
        "payload": "{\"state\":\"toggle\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 410,
        "y": 640,
        "wires": [
            [
                "5e24cb69.f4b594"
            ]
        ]
    },
    {
        "id": "ea4db9a3.5b9278",
        "type": "ui_led",
        "z": "d9d0239.9656ae",
        "group": "5b148da4.232e64",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Lamp 1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": true,
        "name": "Lamp 1",
        "x": 900,
        "y": 240,
        "wires": []
    },
    {
        "id": "429608c.8fc6ff8",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "",
        "func": "state = false;\nif (msg.payload.state == \"ON\") {\n    state = true;\n}\nif (msg.payload.state == \"OFF\") {\n    state = false;\n}\n\nmsg.payload = state;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 240,
        "wires": [
            [
                "ea4db9a3.5b9278"
            ]
        ]
    },
    {
        "id": "8c1b4cc5.73aa6",
        "type": "ui_button",
        "z": "d9d0239.9656ae",
        "name": "",
        "group": "5b148da4.232e64",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Toggle lamp 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"state\":\"toggle\"}",
        "payloadType": "json",
        "topic": "",
        "x": 240,
        "y": 740,
        "wires": [
            [
                "5e24cb69.f4b594"
            ]
        ]
    },
    {
        "id": "a1118652.a6cab8",
        "type": "ui_colour_picker",
        "z": "d9d0239.9656ae",
        "name": "Color Lamp 1",
        "label": "Color Lamp 1",
        "group": "5b148da4.232e64",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 240,
        "y": 780,
        "wires": [
            [
                "5b9deeed.d2c7b"
            ]
        ]
    },
    {
        "id": "5b9deeed.d2c7b",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "",
        "func": "\nvalue = {};\nc = msg.payload;\nvalue.color = c.r + \",\" + c.g + \",\" + c.b;\nvalue.state = \"on\";\n\nmsg.payload = value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 780,
        "wires": [
            [
                "5e24cb69.f4b594"
            ]
        ]
    },
    {
        "id": "6bc8cf23.1decc",
        "type": "zigbee2mqtt-out",
        "z": "d9d0239.9656ae",
        "name": "",
        "server": "54720da2.31fe84",
        "friendly_name": "",
        "device_id": "0x842e14fffe2a3505",
        "command": "brightness",
        "commandType": "z2m_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "transition": 0,
        "x": 1800,
        "y": 200,
        "wires": []
    },
    {
        "id": "c96277f2.a53998",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "brightness",
        "func": "msg.payload = msg.payload.brightness;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1610,
        "y": 200,
        "wires": [
            [
                "6bc8cf23.1decc"
            ]
        ]
    },
    {
        "id": "9f515e7c.581e3",
        "type": "ui_slider",
        "z": "d9d0239.9656ae",
        "name": "Brightness Lamp 1",
        "label": "Brightness Lamp 1",
        "tooltip": "",
        "group": "5b148da4.232e64",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "255",
        "step": 1,
        "x": 250,
        "y": 820,
        "wires": [
            [
                "f3383d4a.2347b"
            ]
        ]
    },
    {
        "id": "f3383d4a.2347b",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "",
        "func": "\nvalue = {};\nvalue.brightness = msg.payload;\nvalue.state = \"on\";\n\nmsg.payload = value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 820,
        "wires": [
            [
                "5e24cb69.f4b594"
            ]
        ]
    },
    {
        "id": "5d2eaf51.0cc09",
        "type": "light-scheduler",
        "z": "d9d0239.9656ae",
        "settings": "e0dd3b52.9b32b8",
        "events": "[{\"start\":{\"dow\":1,\"mod\":1005},\"end\":{\"dow\":1,\"mod\":1245}},{\"start\":{\"dow\":2,\"mod\":1005},\"end\":{\"dow\":2,\"mod\":1245}},{\"start\":{\"dow\":3,\"mod\":1005},\"end\":{\"dow\":3,\"mod\":1245}},{\"start\":{\"dow\":4,\"mod\":1005},\"end\":{\"dow\":4,\"mod\":1245}},{\"start\":{\"dow\":5,\"mod\":1005},\"end\":{\"dow\":5,\"mod\":1245}},{\"start\":{\"dow\":2,\"mod\":450},\"end\":{\"dow\":2,\"mod\":630}},{\"start\":{\"dow\":3,\"mod\":450},\"end\":{\"dow\":3,\"mod\":630}},{\"start\":{\"dow\":4,\"mod\":450},\"end\":{\"dow\":4,\"mod\":630}},{\"start\":{\"dow\":5,\"mod\":450},\"end\":{\"dow\":5,\"mod\":630}},{\"start\":{\"dow\":6,\"mod\":495},\"end\":{\"dow\":6,\"mod\":630}},{\"start\":{\"dow\":1,\"mod\":450},\"end\":{\"dow\":1,\"mod\":630}}]",
        "topic": "",
        "name": "Lamp 1 Scheduler",
        "onPayload": "ON",
        "onPayloadType": "str",
        "offPayload": "OFF",
        "offPayloadType": "str",
        "onlyWhenDark": false,
        "scheduleRndMax": 0,
        "sunElevationThreshold": 6,
        "sunShowElevationInStatus": true,
        "outputfreq": "output.statechange.startup",
        "x": 230,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "e7ea7dfb.05a4",
        "type": "debug",
        "z": "d9d0239.9656ae",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 650,
        "y": 420,
        "wires": []
    },
    {
        "id": "c8ca4ce4.54bbd",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "",
        "func": "\nvalue = {};\nvalue.state = msg.payload;\n\nmsg.payload = value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 420,
        "wires": [
            [
                "e7ea7dfb.05a4",
                "5e24cb69.f4b594"
            ]
        ]
    },
    {
        "id": "e3d8443.2d086b8",
        "type": "mqtt in",
        "z": "d9d0239.9656ae",
        "name": "Oprit",
        "topic": "home assistant/oprit",
        "qos": "2",
        "datatype": "json",
        "broker": "4ec1ae6.5ee7c5",
        "x": 1270,
        "y": 360,
        "wires": [
            [
                "8a903e12.2798f",
                "25baadc5.728ce2"
            ]
        ]
    },
    {
        "id": "57848d23.8ec964",
        "type": "zigbee2mqtt-out",
        "z": "d9d0239.9656ae",
        "name": "",
        "server": "54720da2.31fe84",
        "friendly_name": "Oprit",
        "device_id": "0x7cb03eaa0a079953",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "transition": 0,
        "x": 1750,
        "y": 300,
        "wires": []
    },
    {
        "id": "6ba79a64.d1d7f4",
        "type": "zigbee2mqtt-out",
        "z": "d9d0239.9656ae",
        "name": "",
        "server": "54720da2.31fe84",
        "friendly_name": "Oprit",
        "device_id": "0x7cb03eaa0a079953",
        "command": "color_rgb",
        "commandType": "z2m_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "transition": 0,
        "x": 1750,
        "y": 360,
        "wires": []
    },
    {
        "id": "12f1705e.9200b",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "state",
        "func": "msg.payload = msg.payload.state;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1590,
        "y": 300,
        "wires": [
            [
                "57848d23.8ec964"
            ]
        ]
    },
    {
        "id": "90b81bd4.4ce268",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "color",
        "func": "msg.payload = msg.payload.color;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1590,
        "y": 360,
        "wires": [
            [
                "6ba79a64.d1d7f4"
            ]
        ]
    },
    {
        "id": "8a903e12.2798f",
        "type": "switch",
        "z": "d9d0239.9656ae",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "state",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "color",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "brightness",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1410,
        "y": 360,
        "wires": [
            [
                "12f1705e.9200b"
            ],
            [
                "90b81bd4.4ce268"
            ],
            [
                "1d5858c1.1e4ec7"
            ]
        ]
    },
    {
        "id": "f7d58bdc.0370c8",
        "type": "zigbee2mqtt-out",
        "z": "d9d0239.9656ae",
        "name": "",
        "server": "54720da2.31fe84",
        "friendly_name": "Oprit",
        "device_id": "0x7cb03eaa0a079953",
        "command": "brightness",
        "commandType": "z2m_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "transition": 0,
        "x": 1750,
        "y": 420,
        "wires": []
    },
    {
        "id": "1d5858c1.1e4ec7",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "brightness",
        "func": "msg.payload = msg.payload.brightness;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1610,
        "y": 420,
        "wires": [
            [
                "f7d58bdc.0370c8"
            ]
        ]
    },
    {
        "id": "5e24cb69.f4b594",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 780,
        "wires": [
            [
                "69ec522f.6d1d0c"
            ]
        ]
    },
    {
        "id": "b1b655e5.e41968",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "",
        "func": "state = false;\nif (msg.payload.state == \"ON\") {\n    state = true;\n}\nif (msg.payload.state == \"OFF\") {\n    state = false;\n}\n\nmsg.payload = state;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 180,
        "wires": [
            [
                "55fff375.84343c"
            ]
        ]
    },
    {
        "id": "55fff375.84343c",
        "type": "ui_led",
        "z": "d9d0239.9656ae",
        "group": "5b148da4.232e64",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Oprit",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": true,
        "name": "Oprit",
        "x": 890,
        "y": 180,
        "wires": []
    },
    {
        "id": "6437ff01.981f4",
        "type": "ui_button",
        "z": "d9d0239.9656ae",
        "name": "",
        "group": "5b148da4.232e64",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Aan",
        "tooltip": "Lamp",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"state\":\"ON\", \"color\":\"255,255,255\"}",
        "payloadType": "json",
        "topic": "",
        "x": 210,
        "y": 860,
        "wires": [
            [
                "5e24cb69.f4b594"
            ]
        ]
    },
    {
        "id": "7ffd389c.ea5ae8",
        "type": "ui_button",
        "z": "d9d0239.9656ae",
        "name": "",
        "group": "5b148da4.232e64",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Uit",
        "tooltip": "Lamp",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"state\":\"OFF\"}",
        "payloadType": "json",
        "topic": "",
        "x": 210,
        "y": 900,
        "wires": [
            [
                "5e24cb69.f4b594"
            ]
        ]
    },
    {
        "id": "ba32f344.363f5",
        "type": "mqtt out",
        "z": "d9d0239.9656ae",
        "name": "Send info to oprit mqtt",
        "topic": "home assistant/oprit",
        "qos": "2",
        "retain": "false",
        "broker": "4ec1ae6.5ee7c5",
        "x": 980,
        "y": 1000,
        "wires": []
    },
    {
        "id": "3a89e7ff.5213e8",
        "type": "ui_button",
        "z": "d9d0239.9656ae",
        "name": "",
        "group": "5b148da4.232e64",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Toggle oprit",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"state\":\"toggle\"}",
        "payloadType": "json",
        "topic": "",
        "x": 230,
        "y": 960,
        "wires": [
            [
                "543372df.c121dc"
            ]
        ]
    },
    {
        "id": "a02ca441.8fb4a8",
        "type": "ui_colour_picker",
        "z": "d9d0239.9656ae",
        "name": "Color oprit 1",
        "label": "Color oprit 1",
        "group": "5b148da4.232e64",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 230,
        "y": 1000,
        "wires": [
            [
                "66866646.ee2a68"
            ]
        ]
    },
    {
        "id": "3a4c5542.986aaa",
        "type": "ui_slider",
        "z": "d9d0239.9656ae",
        "name": "Brightness Lamp 1",
        "label": "Brightness oprit",
        "tooltip": "",
        "group": "5b148da4.232e64",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "255",
        "step": 1,
        "x": 250,
        "y": 1040,
        "wires": [
            [
                "5d3fa3f9.f4777c"
            ]
        ]
    },
    {
        "id": "82bd5232.391ec",
        "type": "ui_button",
        "z": "d9d0239.9656ae",
        "name": "",
        "group": "5b148da4.232e64",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Aan",
        "tooltip": "Oprit",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"state\":\"ON\", \"color\":\"255,255,255\"}",
        "payloadType": "json",
        "topic": "",
        "x": 210,
        "y": 1080,
        "wires": [
            [
                "543372df.c121dc",
                "a6025ba8.2888e8"
            ]
        ]
    },
    {
        "id": "c7114eff.f91a5",
        "type": "ui_button",
        "z": "d9d0239.9656ae",
        "name": "",
        "group": "5b148da4.232e64",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Uit",
        "tooltip": "Oprit",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"state\":\"OFF\"}",
        "payloadType": "json",
        "topic": "",
        "x": 210,
        "y": 1120,
        "wires": [
            [
                "543372df.c121dc",
                "a6025ba8.2888e8"
            ]
        ]
    },
    {
        "id": "66866646.ee2a68",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "",
        "func": "\nvalue = {};\nc = msg.payload;\nvalue.color = c.r + \",\" + c.g + \",\" + c.b;\nvalue.state = \"on\";\n\nmsg.payload = value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 1000,
        "wires": [
            [
                "543372df.c121dc"
            ]
        ]
    },
    {
        "id": "5d3fa3f9.f4777c",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "",
        "func": "\nvalue = {};\nvalue.brightness = msg.payload;\nvalue.state = \"on\";\n\nmsg.payload = value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 1040,
        "wires": [
            [
                "543372df.c121dc"
            ]
        ]
    },
    {
        "id": "543372df.c121dc",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 1000,
        "wires": [
            [
                "ba32f344.363f5"
            ]
        ]
    },
    {
        "id": "25baadc5.728ce2",
        "type": "debug",
        "z": "d9d0239.9656ae",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1530,
        "y": 520,
        "wires": []
    },
    {
        "id": "3f7af3e4.d21f4c",
        "type": "zigbee2mqtt-out",
        "z": "d9d0239.9656ae",
        "name": "",
        "server": "54720da2.31fe84",
        "friendly_name": "Oprit",
        "device_id": "0x7cb03eaa0a079953",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "transition": 0,
        "x": 670,
        "y": 1140,
        "wires": []
    },
    {
        "id": "a6025ba8.2888e8",
        "type": "function",
        "z": "d9d0239.9656ae",
        "name": "state",
        "func": "msg.payload = msg.payload.state;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 1140,
        "wires": [
            [
                "3f7af3e4.d21f4c"
            ]
        ]
    }
]