roles/docker_zigbee/files/data/node-red/flows.json
[{"id":"d9d0239.9656ae","type":"tab","label":"Zigbee","disabled":false,"info":""},{"id":"b373cb64.b32288","type":"tab","label":"Zigbee devices","disabled":false,"info":""},{"id":"9aeafd2a.62224","type":"tab","label":"Netwerk","disabled":false,"info":""},{"id":"2dc1fcaf.a3c9d4","type":"tab","label":"Z2M Admin","disabled":false,"info":""},{"id":"54720da2.31fe84","type":"zigbee2mqtt-server","z":"","name":"Zigbee","host":"mqtt","mqtt_port":"1883","mqtt_username":"pi","mqtt_password":"rev61272","tls":"","usetls":false,"base_topic":"zigbee2mqtt"},{"id":"ac5435ab.ce7598","type":"ui_tab","z":"","name":"Deuren","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"fb0248e0.17bda8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4ec1ae6.5ee7c5","type":"mqtt-broker","z":"","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"606c92e8.3b8f6c","type":"ui_tab","z":"","name":"Thuis","icon":"dashboard","disabled":false,"hidden":false},{"id":"5b148da4.232e64","type":"ui_group","z":"","name":"Thuis","tab":"606c92e8.3b8f6c","order":1,"disp":true,"width":"6","collapse":false},{"id":"11953a91.2f6945","type":"slack-config","z":"","name":"slack-token"},{"id":"e0dd3b52.9b32b8","type":"light-scheduler-settings","z":"","name":"Thuis","latitude":"53.179807","longitude":"6.168264"},{"id":"e480e105.3a76c","type":"ui_group","z":"","name":"Default","tab":"ac5435ab.ce7598","order":1,"disp":true,"width":"6","collapse":false},{"id":"448bdcc5.b9a614","type":"mqtt-broker","z":"","name":"mqtt","broker":"192.168.2.130","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"82e7296c.259148","type":"ui_tab","z":"","name":"Z2M Admin","icon":"dashboard","disabled":false,"hidden":false},{"id":"6b720db0.299d14","type":"ui_tab","z":"","name":"Z2M Network map","icon":"dashboard","disabled":false,"hidden":true},{"id":"1ad0e792.0de138","type":"ui_tab","z":"","name":"Z2M Admin","icon":"dashboard","disabled":false,"hidden":false},{"id":"9f74baa5.af9638","type":"ui_tab","z":"","name":"Z2M Network map","icon":"dashboard","disabled":false,"hidden":true},{"id":"96cc68ec.7a50e8","type":"ui_group","z":"","name":"Netwerk","tab":"ac5435ab.ce7598","order":2,"disp":true,"width":"6","collapse":false},{"id":"6e7b87e7.e98e08","type":"ui_group","z":"","name":"Device management","tab":"3b4b038f.7302fc","order":3,"disp":true,"width":"6","collapse":false},{"id":"9a24bdf1.47e28","type":"ui_group","z":"","name":"Device list","tab":"3b4b038f.7302fc","order":1,"disp":true,"width":"6","collapse":false},{"id":"3025ab4d.2e8454","type":"ui_group","z":"","name":"Bridge configuration","tab":"3b4b038f.7302fc","order":5,"disp":true,"width":"6","collapse":true},{"id":"94df4c7e.27404","type":"ui_group","z":"","name":"Network map","tab":"18b1c8d.49e8f37","order":1,"disp":false,"width":"27","collapse":false},{"id":"80f9dc48.85d86","type":"ui_group","z":"","name":"Device details","tab":"3b4b038f.7302fc","order":2,"disp":true,"width":"6","collapse":false},{"id":"7ce586d2.095418","type":"ui_group","z":"","name":"Group configuration","tab":"3b4b038f.7302fc","order":4,"disp":true,"width":"6","collapse":true},{"id":"3b4b038f.7302fc","type":"ui_tab","z":"","name":"Z2M Admin","icon":"dashboard","disabled":false,"hidden":false},{"id":"18b1c8d.49e8f37","type":"ui_tab","z":"","name":"Z2M Network map","icon":"dashboard","disabled":false,"hidden":true},{"id":"98a0c192.bc4bf","type":"slackbot-controller","z":"","name":"nodered","bot_token":"xoxb-319704114455-1614678738321-lCxkGojesFLdDp1IMDPxy6hm"},{"id":"9140c24a.7d508","type":"catch","z":0,"name":"","scope":null,"uncaught":false,"x":2200,"y":3480,"wires":[[]]},{"id":"1e86e070.517","type":"catch","z":"9aeafd2a.62224","name":"","scope":null,"uncaught":false,"x":2200,"y":3480,"wires":[[]]},{"id":"9db42f61.fb743","type":"mqtt in","z":"9aeafd2a.62224","name":"Sander presence","topic":"wifi/192.168.2.70","qos":"2","datatype":"json","broker":"4ec1ae6.5ee7c5","x":180,"y":400,"wires":[["6f1a3d.1f48a5c4"]]},{"id":"4850edcc.ed5f54","type":"arp","z":"9aeafd2a.62224","name":"ARP","macs":"","x":370,"y":160,"wires":[["e2c06e60.49408"]]},{"id":"9a86ea9f.29feb8","type":"inject","z":"9aeafd2a.62224","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"1","x":170,"y":160,"wires":[["4850edcc.ed5f54"]]},{"id":"e2c06e60.49408","type":"split","z":"9aeafd2a.62224","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":530,"y":160,"wires":[["b8249e81.65604"]]},{"id":"1a6a4ec5.3f81f1","type":"adv ping","z":"9aeafd2a.62224","name":"","host":"","x":960,"y":160,"wires":[["462475c9.8fc48c"]]},{"id":"b8249e81.65604","type":"function","z":"9aeafd2a.62224","name":"Analyze Result 2","func":"// anything stored in context is kept available for next time we get called\ncontext.ip = \"\";\n\nif(msg.payload) {\n    if(msg.payload.ip) {\n    context.ip = msg.payload.ip;\n    }\n} \n\nmsg.host=context.ip;\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":160,"wires":[["1a6a4ec5.3f81f1"]]},{"id":"462475c9.8fc48c","type":"function","z":"9aeafd2a.62224","name":"Analyze Result","func":"// anything stored in context is kept available for next time we get called\n_context = {};\n\n_context.ip = msg._payload.ip;\n\nif(msg.payload) {\n  _context.pingresponse = msg.payload;\n  _context.home = 'Home';\n}\n\nmsg.payload = _context;\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":160,"wires":[["6901deee.a665b"]]},{"id":"f6e1ba11.cb7ad8","type":"mqtt out","z":"9aeafd2a.62224","name":"Send info to mqtt","topic":"","qos":"2","retain":"false","broker":"4ec1ae6.5ee7c5","x":1630,"y":160,"wires":[]},{"id":"78e01b90.d23804","type":"function","z":"9aeafd2a.62224","name":"","func":"\nhome = 0;\nif(msg.payload) {\n    if(msg.payload.home == \"Home\") {\n        home = 2;\n    } else {\n        if(msg.payload.count) {\n            home = 1;\n        }\n    }\n}\nmsg.payload = home;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":400,"wires":[["bf16e062.6ef71"]]},{"id":"bf16e062.6ef71","type":"ui_led","z":"9aeafd2a.62224","order":0,"group":"5b148da4.232e64","width":0,"height":0,"label":"Sander","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"orange","value":"1","valueType":"num"},{"color":"green","value":"2","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":670,"y":400,"wires":[]},{"id":"7a94477b.4b2a68","type":"mqtt in","z":"9aeafd2a.62224","name":"Bonny presence","topic":"wifi/192.168.2.72","qos":"2","datatype":"json","broker":"4ec1ae6.5ee7c5","x":180,"y":480,"wires":[["ce5d0528.7a06b8"]]},{"id":"64922542.bd2edc","type":"mqtt in","z":"9aeafd2a.62224","name":"Jelmar presence","topic":"wifi/192.168.2.71","qos":"2","datatype":"json","broker":"4ec1ae6.5ee7c5","x":180,"y":580,"wires":[["5e34fd20.aed534"]]},{"id":"6901deee.a665b","type":"function","z":"9aeafd2a.62224","name":"Determine status","func":"// anything stored in context is kept available for next time we get called\n\n//_payload = {};\n_payload = msg.payload;\ndefault_count = 25 * 4;\n\nc = flow.get(msg.payload.ip + 'status') || \"Away\";\n_payload.changed = false;\n\nif(msg.payload.pingresponse) {\n  _payload.count = default_count;\n  flow.set(msg.payload.ip + 'count', _payload.count);\n  flow.set(msg.payload.ip + 'status', \"Home\");\n  if (c == \"Away\") {\n      _payload.changed = true;\n  }\n} else {\n    _payload.home = flow.get(msg.payload.ip + 'status') || \"Home\";\n    if (_payload.home == \"Home\") {\n        count = (flow.get(msg.payload.ip + 'count') || default_count);\n        _payload.count = count - 1;\n        flow.set(msg.payload.ip + 'count', _payload.count);\n        if (count <= 1) {\n            flow.set(msg.payload.ip + 'status', \"Away\");\n            _payload.home = \"Away\";\n            if (c == \"Home\") {\n              _payload.changed = true;\n          }\n        }\n    }\n}\n\nmsg.topic = \"wifi/\" + msg.payload.ip;\nmsg.payload = _payload;\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":160,"wires":[["f6e1ba11.cb7ad8"]]},{"id":"a4c8a10.b4a256","type":"function","z":"9aeafd2a.62224","name":"","func":"\nhome = 0;\nif(msg.payload) {\n    if(msg.payload.home == \"Home\") {\n        home = 2;\n    } else {\n        if(msg.payload.count) {\n            home = 1;\n        }\n    }\n}\nmsg.payload = home;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":480,"wires":[["8d1461dd.24f4d"]]},{"id":"8d1461dd.24f4d","type":"ui_led","z":"9aeafd2a.62224","order":0,"group":"5b148da4.232e64","width":0,"height":0,"label":"Bonny","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"orange","value":"1","valueType":"num"},{"color":"green","value":"2","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":670,"y":480,"wires":[]},{"id":"c3a1008a.2fb0a","type":"function","z":"9aeafd2a.62224","name":"","func":"\nhome = 0;\nif(msg.payload) {\n    if(msg.payload.home == \"Home\") {\n        home = 2;\n    } else {\n        if(msg.payload.count) {\n            home = 1;\n        }\n    }\n}\nmsg.payload = home;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":580,"wires":[["9e89c5a0.da7d68"]]},{"id":"9e89c5a0.da7d68","type":"ui_led","z":"9aeafd2a.62224","order":0,"group":"5b148da4.232e64","width":0,"height":0,"label":"Jelmar","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"orange","value":"1","valueType":"num"},{"color":"green","value":"2","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":670,"y":580,"wires":[]},{"id":"24f21ef4.90f8b2","type":"function","z":"9aeafd2a.62224","name":"","func":"home = \" is niet thuis\";\n\nif(msg.payload) {\n    if(msg.payload.home == \"Home\") {\n        home = \" is thuis\";\n    }\n}\nmsg.payload =  msg.payload.name + home;\n\nmsg.topic = \"#node-red\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":420,"wires":[["fbffea83.0cd9d8"]]},{"id":"fbffea83.0cd9d8","type":"slack-web-out","z":"9aeafd2a.62224","client":"11953a91.2f6945","name":"Slack send","x":1490,"y":420,"wires":[["4476cd37.b23724"]]},{"id":"4476cd37.b23724","type":"debug","z":"9aeafd2a.62224","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":420,"wires":[]},{"id":"5a1603cb.e4e14c","type":"switch","z":"9aeafd2a.62224","name":"","property":"payload.changed","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":420,"wires":[["24f21ef4.90f8b2"],[]]},{"id":"6f1a3d.1f48a5c4","type":"function","z":"9aeafd2a.62224","name":"","func":"\nmsg.payload.name = \"Sander\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":400,"wires":[["4b6591b6.ccdda","78e01b90.d23804"]]},{"id":"ce5d0528.7a06b8","type":"function","z":"9aeafd2a.62224","name":"","func":"\nmsg.payload.name = \"Bonny\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":480,"wires":[["a4c8a10.b4a256","d0a6a89b.de7198"]]},{"id":"5e34fd20.aed534","type":"function","z":"9aeafd2a.62224","name":"","func":"\nmsg.payload.name = \"Jelmar\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":580,"wires":[["c3a1008a.2fb0a","75c3c8e7.6d6d58"]]},{"id":"4b6591b6.ccdda","type":"link out","z":"9aeafd2a.62224","name":"","links":["d614fb86.b52658"],"x":475,"y":360,"wires":[]},{"id":"d614fb86.b52658","type":"link in","z":"9aeafd2a.62224","name":"","links":["4b6591b6.ccdda","d0a6a89b.de7198","75c3c8e7.6d6d58"],"x":1055,"y":420,"wires":[["5a1603cb.e4e14c"]]},{"id":"d0a6a89b.de7198","type":"link out","z":"9aeafd2a.62224","name":"","links":["d614fb86.b52658"],"x":475,"y":440,"wires":[]},{"id":"75c3c8e7.6d6d58","type":"link out","z":"9aeafd2a.62224","name":"","links":["d614fb86.b52658"],"x":475,"y":540,"wires":[]},{"id":"8acd9860.b2f158","type":"mqtt in","z":"d9d0239.9656ae","name":"Lamp 1","topic":"home assistant/lamp 1","qos":"2","datatype":"json","broker":"4ec1ae6.5ee7c5","x":1270,"y":140,"wires":[["904255b1.449a18"]]},{"id":"69ec522f.6d1d0c","type":"mqtt out","z":"d9d0239.9656ae","name":"Send info to Lamp 1 mqtt","topic":"home assistant/lamp 1","qos":"2","retain":"false","broker":"4ec1ae6.5ee7c5","x":890,"y":380,"wires":[]},{"id":"4c019b5e.f43f94","type":"inject","z":"d9d0239.9656ae","name":"On","topic":"","payload":"{\"state\":\"ON\", \"color\":\"0,255,0\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":120,"wires":[["5e24cb69.f4b594"]]},{"id":"e027a98b.b4bc88","type":"zigbee2mqtt-out","z":"d9d0239.9656ae","name":"","server":"54720da2.31fe84","friendly_name":"Lamp 1","device_id":"0x842e14fffe2a3505","command":"state","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":1760,"y":80,"wires":[]},{"id":"d47fbcf0.df305","type":"zigbee2mqtt-out","z":"d9d0239.9656ae","name":"","server":"54720da2.31fe84","friendly_name":"Lamp 1","device_id":"0x842e14fffe2a3505","command":"color_rgb","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":1760,"y":140,"wires":[]},{"id":"5f48a64.5315758","type":"inject","z":"d9d0239.9656ae","name":"Off","topic":"","payload":"{\"state\":\"OFF\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":180,"wires":[["5e24cb69.f4b594"]]},{"id":"3ca987db.090988","type":"inject","z":"d9d0239.9656ae","name":"On","topic":"","payload":"{\"state\":\"ON\", \"color\":\"255,255,240\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":60,"wires":[["5e24cb69.f4b594"]]},{"id":"99617b40.df7338","type":"function","z":"d9d0239.9656ae","name":"state","func":"msg.payload = msg.payload.state;\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":80,"wires":[["e027a98b.b4bc88"]]},{"id":"d14964e9.324bf8","type":"function","z":"d9d0239.9656ae","name":"color","func":"msg.payload = msg.payload.color;\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":140,"wires":[["d47fbcf0.df305"]]},{"id":"904255b1.449a18","type":"switch","z":"d9d0239.9656ae","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"state","vt":"str"},{"t":"hask","v":"color","vt":"str"},{"t":"hask","v":"brightness","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1410,"y":140,"wires":[["99617b40.df7338"],["d14964e9.324bf8"],["c96277f2.a53998"]]},{"id":"abad01d5.a0735","type":"inject","z":"d9d0239.9656ae","name":"toggle","topic":"","payload":"{\"state\":\"toggle\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":240,"wires":[["5e24cb69.f4b594"]]},{"id":"8c1b4cc5.73aa6","type":"ui_button","z":"d9d0239.9656ae","name":"","group":"5b148da4.232e64","order":0,"width":0,"height":0,"passthru":false,"label":"Toggle lamp 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"state\":\"toggle\"}","payloadType":"json","topic":"","x":200,"y":340,"wires":[["5e24cb69.f4b594"]]},{"id":"a1118652.a6cab8","type":"ui_colour_picker","z":"d9d0239.9656ae","name":"Color Lamp 1","label":"Color Lamp 1","group":"5b148da4.232e64","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":200,"y":380,"wires":[["5b9deeed.d2c7b"]]},{"id":"5b9deeed.d2c7b","type":"function","z":"d9d0239.9656ae","name":"","func":"\nvalue = {};\nc = msg.payload;\nvalue.color = c.r + \",\" + c.g + \",\" + c.b;\nvalue.state = \"on\";\n\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":380,"wires":[["5e24cb69.f4b594"]]},{"id":"6bc8cf23.1decc","type":"zigbee2mqtt-out","z":"d9d0239.9656ae","name":"","server":"54720da2.31fe84","friendly_name":"Lamp 1","device_id":"0x842e14fffe2a3505","command":"brightness","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":1760,"y":200,"wires":[]},{"id":"c96277f2.a53998","type":"function","z":"d9d0239.9656ae","name":"brightness","func":"msg.payload = msg.payload.brightness;\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":200,"wires":[["6bc8cf23.1decc"]]},{"id":"9f515e7c.581e3","type":"ui_slider","z":"d9d0239.9656ae","name":"Brightness Lamp 1","label":"Brightness Lamp 1","tooltip":"","group":"5b148da4.232e64","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"255","step":1,"x":210,"y":420,"wires":[["f3383d4a.2347b"]]},{"id":"f3383d4a.2347b","type":"function","z":"d9d0239.9656ae","name":"","func":"\nvalue = {};\nvalue.brightness = msg.payload;\nvalue.state = \"on\";\n\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":420,"wires":[["5e24cb69.f4b594"]]},{"id":"e3d8443.2d086b8","type":"mqtt in","z":"d9d0239.9656ae","name":"Oprit","topic":"home assistant/oprit","qos":"2","datatype":"json","broker":"4ec1ae6.5ee7c5","x":1270,"y":360,"wires":[["8a903e12.2798f"]]},{"id":"6ba79a64.d1d7f4","type":"zigbee2mqtt-out","z":"d9d0239.9656ae","name":"","server":"54720da2.31fe84","friendly_name":"Oprit","device_id":"0x7cb03eaa0a079953","command":"color_rgb","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":1750,"y":360,"wires":[]},{"id":"90b81bd4.4ce268","type":"function","z":"d9d0239.9656ae","name":"color","func":"msg.payload = msg.payload.color;\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":360,"wires":[["6ba79a64.d1d7f4"]]},{"id":"8a903e12.2798f","type":"switch","z":"d9d0239.9656ae","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"state","vt":"str"},{"t":"hask","v":"color","vt":"str"},{"t":"hask","v":"brightness","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1410,"y":360,"wires":[["12f1705e.9200b"],["90b81bd4.4ce268"],[]]},{"id":"5e24cb69.f4b594","type":"function","z":"d9d0239.9656ae","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":380,"wires":[["69ec522f.6d1d0c"]]},{"id":"6437ff01.981f4","type":"ui_button","z":"d9d0239.9656ae","name":"","group":"5b148da4.232e64","order":0,"width":0,"height":0,"passthru":false,"label":"Aan","tooltip":"Lamp","color":"","bgcolor":"","icon":"","payload":"{\"state\":\"ON\", \"color\":\"255,255,255\"}","payloadType":"json","topic":"","x":170,"y":460,"wires":[["5e24cb69.f4b594"]]},{"id":"7ffd389c.ea5ae8","type":"ui_button","z":"d9d0239.9656ae","name":"","group":"5b148da4.232e64","order":0,"width":0,"height":0,"passthru":false,"label":"Uit","tooltip":"Lamp","color":"","bgcolor":"","icon":"","payload":"{\"state\":\"OFF\"}","payloadType":"json","topic":"","x":170,"y":500,"wires":[["5e24cb69.f4b594"]]},{"id":"ba32f344.363f5","type":"mqtt out","z":"d9d0239.9656ae","name":"Send info to oprit mqtt","topic":"home assistant/oprit","qos":"2","retain":"false","broker":"4ec1ae6.5ee7c5","x":920,"y":600,"wires":[]},{"id":"3a89e7ff.5213e8","type":"ui_button","z":"d9d0239.9656ae","name":"","group":"5b148da4.232e64","order":0,"width":0,"height":0,"passthru":false,"label":"Toggle oprit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"state\":\"toggle\"}","payloadType":"json","topic":"","x":190,"y":560,"wires":[["543372df.c121dc"]]},{"id":"a02ca441.8fb4a8","type":"ui_colour_picker","z":"d9d0239.9656ae","name":"Color oprit 1","label":"Color oprit 1","group":"5b148da4.232e64","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":190,"y":600,"wires":[["66866646.ee2a68"]]},{"id":"82bd5232.391ec","type":"ui_button","z":"d9d0239.9656ae","name":"","group":"5b148da4.232e64","order":0,"width":0,"height":0,"passthru":false,"label":"Aan","tooltip":"Oprit","color":"","bgcolor":"","icon":"","payload":"{\"state\":\"ON\", \"color\":\"255,255,255\"}","payloadType":"json","topic":"","x":170,"y":680,"wires":[["543372df.c121dc"]]},{"id":"c7114eff.f91a5","type":"ui_button","z":"d9d0239.9656ae","name":"","group":"5b148da4.232e64","order":0,"width":0,"height":0,"passthru":false,"label":"Uit","tooltip":"Oprit","color":"","bgcolor":"","icon":"","payload":"{\"state\":\"OFF\"}","payloadType":"json","topic":"","x":170,"y":720,"wires":[["543372df.c121dc"]]},{"id":"66866646.ee2a68","type":"function","z":"d9d0239.9656ae","name":"","func":"\nvalue = {};\nc = msg.payload;\nvalue.color = c.r + \",\" + c.g + \",\" + c.b;\nvalue.state = \"on\";\n\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":600,"wires":[["543372df.c121dc"]]},{"id":"543372df.c121dc","type":"function","z":"d9d0239.9656ae","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":600,"wires":[["ba32f344.363f5"]]},{"id":"46c1bd6b.006f44","type":"light-scheduler","z":"d9d0239.9656ae","settings":"e0dd3b52.9b32b8","events":"[{\"start\":{\"dow\":2,\"mod\":450},\"end\":{\"dow\":2,\"mod\":570}},{\"start\":{\"dow\":1,\"mod\":450},\"end\":{\"dow\":1,\"mod\":570}},{\"start\":{\"dow\":3,\"mod\":450},\"end\":{\"dow\":3,\"mod\":570}},{\"start\":{\"dow\":4,\"mod\":450},\"end\":{\"dow\":4,\"mod\":570}},{\"start\":{\"dow\":5,\"mod\":450},\"end\":{\"dow\":5,\"mod\":570}},{\"start\":{\"dow\":6,\"mod\":480},\"end\":{\"dow\":6,\"mod\":570}},{\"start\":{\"dow\":0,\"mod\":480},\"end\":{\"dow\":0,\"mod\":570}},{\"start\":{\"dow\":1,\"mod\":915},\"end\":{\"dow\":1,\"mod\":1320}},{\"start\":{\"dow\":2,\"mod\":915},\"end\":{\"dow\":2,\"mod\":1320}},{\"start\":{\"dow\":3,\"mod\":915},\"end\":{\"dow\":3,\"mod\":1320}},{\"start\":{\"dow\":4,\"mod\":915},\"end\":{\"dow\":4,\"mod\":1320}},{\"start\":{\"dow\":5,\"mod\":915},\"end\":{\"dow\":5,\"mod\":1320}},{\"start\":{\"dow\":6,\"mod\":915},\"end\":{\"dow\":6,\"mod\":1320}},{\"start\":{\"dow\":0,\"mod\":915},\"end\":{\"dow\":0,\"mod\":1320}}]","topic":"","name":"","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":true,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":true,"outputfreq":"output.statechange.startup","x":1300,"y":600,"wires":[["713e6450.04df7c"]]},{"id":"d691d08a.db6b3","type":"zigbee2mqtt-bridge","z":"b373cb64.b32288","name":"Zigbee","server":"54720da2.31fe84","topic":null,"x":210,"y":60,"wires":[["611eac0a.97eb94"]]},{"id":"611eac0a.97eb94","type":"debug","z":"b373cb64.b32288","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":60,"wires":[]},{"id":"98de5e5f.0a13a","type":"zigbee2mqtt-get","z":"b373cb64.b32288","name":"","server":"54720da2.31fe84","friendly_name":"Oprit","device_id":"0x7cb03eaa0a079953","state":"0","x":530,"y":200,"wires":[["2cfb488.27ac9b8"]]},{"id":"610b9d32.351ba4","type":"inject","z":"b373cb64.b32288","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"onceDelay":"5","x":270,"y":200,"wires":[["6601f4.6716ce0c","63daee8e.d7684","24a15c8c.754094"]]},{"id":"6601f4.6716ce0c","type":"zigbee2mqtt-get","z":"b373cb64.b32288","name":"","server":"54720da2.31fe84","friendly_name":"Lamp 1","device_id":"0x842e14fffe2a3505","state":"0","x":540,"y":260,"wires":[["24ff7e9a.839352"]]},{"id":"24a15c8c.754094","type":"zigbee2mqtt-get","z":"b373cb64.b32288","name":"","server":"54720da2.31fe84","friendly_name":"Coordinator","device_id":"0x00124b0014d9b724","state":"0","x":550,"y":140,"wires":[["995ed04e.e1cb1"]]},{"id":"63daee8e.d7684","type":"zigbee2mqtt-get","z":"b373cb64.b32288","name":"","server":"54720da2.31fe84","friendly_name":"Router 1","device_id":"0x00124b0018e2a303","state":"0","x":540,"y":340,"wires":[["ddb9f535.a70f28"]]},{"id":"ddb9f535.a70f28","type":"debug","z":"b373cb64.b32288","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":340,"wires":[]},{"id":"995ed04e.e1cb1","type":"debug","z":"b373cb64.b32288","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":140,"wires":[]},{"id":"216566cb.e35e5a","type":"comment","z":"b373cb64.b32288","name":"Router","info":"","x":1010,"y":340,"wires":[]},{"id":"d8ed76c.5ced188","type":"comment","z":"b373cb64.b32288","name":"Coodinator","info":"","x":1020,"y":140,"wires":[]},{"id":"65a5d493.3740ac","type":"ui_led","z":"b373cb64.b32288","order":3,"group":"5b148da4.232e64","width":0,"height":0,"label":"Lamp 1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":true,"name":"Lamp 1","x":1020,"y":260,"wires":[]},{"id":"24ff7e9a.839352","type":"function","z":"b373cb64.b32288","name":"","func":"state = false;\nif (msg.payload.state == \"ON\") {\n    state = true;\n}\nif (msg.payload.state == \"OFF\") {\n    state = false;\n}\n\nmsg.payload = state;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":260,"wires":[["65a5d493.3740ac"]]},{"id":"2cfb488.27ac9b8","type":"function","z":"b373cb64.b32288","name":"","func":"state = false;\nif (msg.payload.state == \"ON\") {\n    state = true;\n}\nif (msg.payload.state == \"OFF\") {\n    state = false;\n}\n\nmsg.payload = state;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":200,"wires":[["84b89945.8bc7e8"]]},{"id":"84b89945.8bc7e8","type":"ui_led","z":"b373cb64.b32288","order":3,"group":"5b148da4.232e64","width":0,"height":0,"label":"Oprit","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":true,"name":"Oprit","x":1010,"y":200,"wires":[]},{"id":"5f95b5b4.66211c","type":"zigbee2mqtt-get","z":"b373cb64.b32288","name":"Roan","server":"54720da2.31fe84","friendly_name":"Roan","device_id":"0x00158d0003538d84","state":"0","x":530,"y":480,"wires":[["718868eb.9a9ef8"]]},{"id":"6878397f.211708","type":"zigbee2mqtt-get","z":"b373cb64.b32288","name":"Jelmar","server":"54720da2.31fe84","friendly_name":"Jelmar","device_id":"0x00158d0003a3519d","state":"0","x":530,"y":420,"wires":[["8d2f9b40.563328"]]},{"id":"da277ed1.50022","type":"zigbee2mqtt-get","z":"b373cb64.b32288","name":"Senne","server":"54720da2.31fe84","friendly_name":"Senne","device_id":"0x00158d0003cebcba","state":"0","x":530,"y":540,"wires":[["a99bf95.6bc5608"]]},{"id":"8d2f9b40.563328","type":"function","z":"b373cb64.b32288","name":"","func":"state = false;\nif (msg.payload.contact) {\n    state = true;\n} else {\n    state = false;\n}\n\nmsg.payload = state;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":420,"wires":[["8921e242.0b6ed"]]},{"id":"8921e242.0b6ed","type":"ui_led","z":"b373cb64.b32288","order":2,"group":"e480e105.3a76c","width":0,"height":0,"label":"Deur Jelmar","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":true,"name":"Deur Jelmar","x":1010,"y":420,"wires":[]},{"id":"718868eb.9a9ef8","type":"function","z":"b373cb64.b32288","name":"","func":"state = false;\nif (msg.payload.contact) {\n    state = true;\n} else {\n    state = false;\n}\n\nmsg.payload = state;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":480,"wires":[["b12a9893.55b248"]]},{"id":"b12a9893.55b248","type":"ui_led","z":"b373cb64.b32288","order":3,"group":"e480e105.3a76c","width":0,"height":0,"label":"Deur Roan","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":true,"name":"Deur Roan","x":1010,"y":480,"wires":[]},{"id":"a99bf95.6bc5608","type":"function","z":"b373cb64.b32288","name":"","func":"state = false;\nif (msg.payload.contact) {\n    state = true;\n} else {\n    state = false;\n}\n\nmsg.payload = state;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":540,"wires":[["518d3bd5.2af4d4"]]},{"id":"518d3bd5.2af4d4","type":"ui_led","z":"b373cb64.b32288","order":4,"group":"e480e105.3a76c","width":0,"height":0,"label":"Deur Senne","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":true,"name":"Deur Senne","x":1010,"y":540,"wires":[]},{"id":"713e6450.04df7c","type":"function","z":"d9d0239.9656ae","name":"","func":"\nvalue = {};\nvalue.state = msg.payload;\n\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":600,"wires":[["510769e8.3af2b8"]]},{"id":"510769e8.3af2b8","type":"mqtt out","z":"d9d0239.9656ae","name":"Send info to oprit mqtt","topic":"home assistant/oprit","qos":"2","retain":"false","broker":"4ec1ae6.5ee7c5","x":1760,"y":600,"wires":[]},{"id":"31dc9343.80d85c","type":"zigbee2mqtt-get","z":"b373cb64.b32288","name":"Zolder","server":"54720da2.31fe84","friendly_name":"Zolder","device_id":"0x00158d0003a354c8","state":"0","x":530,"y":600,"wires":[["2a045361.f5266c"]]},{"id":"2a045361.f5266c","type":"function","z":"b373cb64.b32288","name":"","func":"state = false;\nif (msg.payload.contact) {\n    state = true;\n} else {\n    state = false;\n}\n\nmsg.payload = state;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":600,"wires":[["eb60f9e1.850748"]]},{"id":"eb60f9e1.850748","type":"ui_led","z":"b373cb64.b32288","order":5,"group":"e480e105.3a76c","width":0,"height":0,"label":"Deur Zolder","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":true,"name":"Deur Zolder","x":1010,"y":600,"wires":[]},{"id":"fe0e3485.d256e8","type":"zigbee2mqtt-get","z":"b373cb64.b32288","name":"Heit en mem","server":"54720da2.31fe84","friendly_name":"0x00158d0003c79a0e","device_id":"0x00158d0003c79a0e","state":"0","x":550,"y":660,"wires":[["887cca9d.656408"]]},{"id":"887cca9d.656408","type":"function","z":"b373cb64.b32288","name":"","func":"state = false;\nif (msg.payload.contact) {\n    state = true;\n} else {\n    state = false;\n}\n\nmsg.payload = state;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":660,"wires":[["68775e3c.a2bf1"]]},{"id":"68775e3c.a2bf1","type":"ui_led","z":"b373cb64.b32288","order":6,"group":"e480e105.3a76c","width":0,"height":0,"label":"Deur heit en mem","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":true,"name":"Deur heit en mem","x":1030,"y":660,"wires":[]},{"id":"bc5ae961.cb00e8","type":"ui_button","z":"b373cb64.b32288","name":"","group":"e480e105.3a76c","order":1,"width":0,"height":0,"passthru":false,"label":"Check","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":600,"wires":[["c5093a0d.328da8"]]},{"id":"13c0c30.18d963d","type":"zigbee2mqtt-get","z":"b373cb64.b32288","name":"Schuur","server":"54720da2.31fe84","friendly_name":"Schuur","device_id":"0x00158d000353b015","state":"0","x":540,"y":760,"wires":[["834f3802.576ce8"]]},{"id":"834f3802.576ce8","type":"function","z":"b373cb64.b32288","name":"","func":"state = false;\nif (msg.payload.contact) {\n    state = true;\n} else {\n    state = false;\n}\n\nmsg.payload = state;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":760,"wires":[["3b6dcb73.020eb4"]]},{"id":"3b6dcb73.020eb4","type":"ui_led","z":"b373cb64.b32288","order":7,"group":"e480e105.3a76c","width":0,"height":0,"label":"Deur schuur","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":true,"name":"Deur Zolder","x":1010,"y":760,"wires":[]},{"id":"a64c74f6.6fddb8","type":"inject","z":"d9d0239.9656ae","name":"Off","topic":"","payload":"{\"state\":\"off\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":460,"wires":[["543372df.c121dc"]]},{"id":"da86bab2.6e65c8","type":"inject","z":"d9d0239.9656ae","name":"On","topic":"","payload":"{\"state\":\"ON\", \"color\":\"0,255,0\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":520,"wires":[["543372df.c121dc"]]},{"id":"15ede45f.45de8c","type":"function","z":"2dc1fcaf.a3c9d4","name":"Format Data","func":"var groupname = flow.get('groupname');\nvar device = flow.get('device');\n\nif (typeof groupname !== undefined && typeof device !== undefined) {\n    var action = \"Adding \";\n    var what = \" to group \";\n    if(msg.payload == \"remove\") {\n        action = \"Removing \";\n        what = \" from group \";\n    }\nvar msg1 = { payload: device, topic: \"zigbee2mqtt/bridge/group/\" + groupname + \"/\" + msg.payload};\nvar msg2 = { payload: action + \" \" + device + what + groupname };\n\nreturn [msg1, msg2];\n}","outputs":2,"noerr":0,"x":770,"y":1920,"wires":[["5271b8eb.6a4078"],[]]},{"id":"bac3ab5d.8fefc8","type":"ui_button","z":"2dc1fcaf.a3c9d4","name":"","group":"6e7b87e7.e98e08","order":9,"width":"3","height":"1","passthru":false,"label":"Add to group","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Add","payloadType":"str","topic":"","x":110,"y":1900,"wires":[["26223e7a.809122"]]},{"id":"d0d7fd00.22f08","type":"ui_toast","z":"2dc1fcaf.a3c9d4","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":1000,"y":1940,"wires":[]},{"id":"820fc7d0.b53ac8","type":"comment","z":"2dc1fcaf.a3c9d4","name":"Group management","info":"","x":130,"y":1460,"wires":[]},{"id":"f35e7343.1963d","type":"function","z":"2dc1fcaf.a3c9d4","name":"Format Data","func":"var srcdev = flow.get('device');\nvar bindtarget = flow.get('bindtarget');\n\nif (typeof srcdev !== undefined && typeof bindtarget !== undefined) {\n  msg1 = { 'payload': bindtarget, 'topic': 'zigbee2mqtt/bridge/' + msg.payload + '/' + srcdev};\n  msg2 = { 'payload': msg.payload + ' ' + srcdev + ' to target ' + bindtarget };\n\n  return [msg1, msg2];\n}","outputs":2,"noerr":0,"x":750,"y":2260,"wires":[["f1fb3d7c.dc89b"],[]]},{"id":"95d287c9.704508","type":"ui_button","z":"2dc1fcaf.a3c9d4","name":"","group":"6e7b87e7.e98e08","order":13,"width":"3","height":"1","passthru":false,"label":"Bind device","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Bind","payloadType":"str","topic":"","x":110,"y":2240,"wires":[["9b6bb7e3.777298"]]},{"id":"ba1507b9.796b98","type":"mqtt in","z":"2dc1fcaf.a3c9d4","name":"","topic":"zigbee2mqtt/#","qos":"2","datatype":"utf8","broker":"448bdcc5.b9a614","x":110,"y":100,"wires":[["e0345c1.cf8fda"]]},{"id":"ea89138a.b27f5","type":"switch","z":"2dc1fcaf.a3c9d4","name":"log type","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"devices","vt":"str"},{"t":"eq","v":"groups","vt":"str"},{"t":"eq","v":"zigbee_publish_error","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":540,"y":540,"wires":[["e762652f.f4a838"],["5a5cf81b.ad8758"],["5b09ecd2.434614"],["ff4e4adb.f8e968"]]},{"id":"9a054b95.98ea58","type":"json","z":"2dc1fcaf.a3c9d4","name":"","property":"payload","action":"","pretty":false,"x":410,"y":540,"wires":[["ea89138a.b27f5"]]},{"id":"e762652f.f4a838","type":"link out","z":"2dc1fcaf.a3c9d4","name":"Z2M LOG DEVICELIST","links":["5f2b77b3.03bbe8","6a6dd003.1df71"],"x":695,"y":500,"wires":[]},{"id":"61782238.dcebec","type":"function","z":"2dc1fcaf.a3c9d4","name":"Reformat for list","func":"newPayload = [];\nmsg.payload.message.forEach(function(entry) {\n    if(entry.type != 'Coordinator') {\n      newentry = {'title': entry.friendly_name, \n               'description': entry.model + ' (' + entry.ieeeAddr + ')',\n               'icon': 'https://www.zigbee2mqtt.io/images/devices/' + entry.model.replace(new RegExp('/', 'g'), '-') + '.jpg'\n      };\n      newPayload.push(newentry);\n    }\n});\n\nmsg.payload=newPayload;\nreturn msg;\n","outputs":1,"noerr":0,"x":180,"y":920,"wires":[["452208f7.9d6278"]]},{"id":"5f2b77b3.03bbe8","type":"link in","z":"2dc1fcaf.a3c9d4","name":"Z2M DEV LIST INPUT","links":["e762652f.f4a838"],"x":55,"y":940,"wires":[["9c528d6c.d9b5e","61782238.dcebec"]]},{"id":"452208f7.9d6278","type":"ui_list","z":"2dc1fcaf.a3c9d4","group":"9a24bdf1.47e28","name":"Devices","order":1,"width":"6","height":"11","lineType":"three","actionType":"click","allowHTML":true,"outputs":1,"x":340,"y":920,"wires":[["6ae016e2.67e948"]]},{"id":"6ae016e2.67e948","type":"change","z":"2dc1fcaf.a3c9d4","name":"","rules":[{"t":"set","p":"device","pt":"flow","to":"payload.title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":960,"wires":[["dc2e7224.3e12b","a159a248.49f24","56c3cab4.499564"]]},{"id":"5f37d6e2.8c8638","type":"mqtt out","z":"2dc1fcaf.a3c9d4","name":"Generic output","topic":"","qos":"","retain":"false","broker":"448bdcc5.b9a614","x":420,"y":160,"wires":[]},{"id":"7818249c.27e49c","type":"link in","z":"2dc1fcaf.a3c9d4","name":"Z2M GENERIC MQTT OUT","links":["5271b8eb.6a4078","458d2db0.4f1c14","a225e193.62a91","7f93819d.cefbb","f1fb3d7c.dc89b","3fd80601.72d3ca","2097161e.fa87da","37f2e586.49006a"],"x":55,"y":160,"wires":[["5f37d6e2.8c8638"]]},{"id":"5271b8eb.6a4078","type":"link out","z":"2dc1fcaf.a3c9d4","name":"Z2M GROUP BIND OUT","links":["7818249c.27e49c"],"x":875,"y":1900,"wires":[]},{"id":"9c528d6c.d9b5e","type":"change","z":"2dc1fcaf.a3c9d4","name":"","rules":[{"t":"set","p":"devices","pt":"flow","to":"payload.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":960,"wires":[[]]},{"id":"dc2e7224.3e12b","type":"function","z":"2dc1fcaf.a3c9d4","name":"Lookup device details","func":"devices = flow.get('devices');\n\nfor (var i in devices) {\n    if(devices[i].friendly_name == msg.payload.title) {\n        flow.set('seldevice_details', devices[i]);\n        msg.payload = devices[i];\n        return msg;\n    }\n}\n\nmsg.payload.friendly_name='unknown';\nreturn msg;\n","outputs":1,"noerr":0,"x":600,"y":960,"wires":[["94533bba.e3d2c8"]]},{"id":"b707a5ef.3feda8","type":"function","z":"2dc1fcaf.a3c9d4","name":"Reformat for dropdown","func":"newPayload = [];\nmsg.payload.message.forEach(function(entry) {\n    newPayload.push(entry.friendly_name);\n});\n\nnewMsg = {'payload': flow.get('bindtarget'), 'options': newPayload};\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":200,"y":2180,"wires":[["6eeb7967.93d8c8"]]},{"id":"6a6dd003.1df71","type":"link in","z":"2dc1fcaf.a3c9d4","name":"Z2M BIND LIST INPUT","links":["e762652f.f4a838"],"x":55,"y":2180,"wires":[["b707a5ef.3feda8"]]},{"id":"6eeb7967.93d8c8","type":"ui_dropdown","z":"2dc1fcaf.a3c9d4","name":"","label":"Target device","tooltip":"","place":"Select target device","group":"6e7b87e7.e98e08","order":12,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":410,"y":2180,"wires":[["8a271b1d.b93928"]]},{"id":"8a271b1d.b93928","type":"change","z":"2dc1fcaf.a3c9d4","name":"","rules":[{"t":"set","p":"bindtarget","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":2180,"wires":[[]]},{"id":"9011aeea.2b6bf","type":"inject","z":"2dc1fcaf.a3c9d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"6","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":1140,"wires":[["a1e05ad.946c9a8"]]},{"id":"9ed1b10a.2f41d","type":"change","z":"2dc1fcaf.a3c9d4","name":"","rules":[{"t":"set","p":"bridgestate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":480,"wires":[[]]},{"id":"2ed31f5f.f6644","type":"ui_button","z":"2dc1fcaf.a3c9d4","name":"","group":"6e7b87e7.e98e08","order":10,"width":"3","height":"1","passthru":false,"label":"Remove from group","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Remove","payloadType":"str","topic":"","x":140,"y":1940,"wires":[["caccaf08.9e3c"]]},{"id":"342275e5.b85bca","type":"ui_button","z":"2dc1fcaf.a3c9d4","name":"","group":"6e7b87e7.e98e08","order":14,"width":"3","height":"1","passthru":false,"label":"Unbind device","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Unbind","payloadType":"str","topic":"","x":120,"y":2280,"wires":[["66a2da0a.47e3f4"]]},{"id":"26223e7a.809122","type":"template","z":"2dc1fcaf.a3c9d4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} device <b>{{flow.device}}</b> in group <b>{{flow.groupname}}</b>?","output":"str","x":320,"y":1900,"wires":[["6b4e06f3.313ab8"]]},{"id":"6b4e06f3.313ab8","type":"ui_toast","z":"2dc1fcaf.a3c9d4","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"add","cancel":"cancel","topic":"Add to group","name":"","x":470,"y":1900,"wires":[["25b60ad2.8e73d6"]]},{"id":"25b60ad2.8e73d6","type":"switch","z":"2dc1fcaf.a3c9d4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"add","vt":"str"},{"t":"eq","v":"remove","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":630,"y":1920,"wires":[["15ede45f.45de8c"],["15ede45f.45de8c"],[]]},{"id":"caccaf08.9e3c","type":"template","z":"2dc1fcaf.a3c9d4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} device <b>{{flow.device}}</b> in group <b>{{flow.groupname}}</b>?","output":"str","x":320,"y":1940,"wires":[["a02e429f.08f35"]]},{"id":"a02e429f.08f35","type":"ui_toast","z":"2dc1fcaf.a3c9d4","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"remove","cancel":"cancel","topic":"Remove from group","name":"","x":470,"y":1940,"wires":[["25b60ad2.8e73d6"]]},{"id":"9b6bb7e3.777298","type":"template","z":"2dc1fcaf.a3c9d4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} device <b>{{flow.device}}</b> to <b>{{flow.bindtarget}}</b>?","output":"str","x":280,"y":2240,"wires":[["f91e1f84.bed0d"]]},{"id":"f91e1f84.bed0d","type":"ui_toast","z":"2dc1fcaf.a3c9d4","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"bind","cancel":"cancel","topic":"Bind device","name":"","x":430,"y":2240,"wires":[["cfee11cc.ed634"]]},{"id":"66a2da0a.47e3f4","type":"template","z":"2dc1fcaf.a3c9d4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} device <b>{{flow.device}}</b> from <b>{{flow.bindtarget}}</b>?","output":"str","x":280,"y":2280,"wires":[["4f1277a2.0ee958"]]},{"id":"4f1277a2.0ee958","type":"ui_toast","z":"2dc1fcaf.a3c9d4","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"unbind","cancel":"cancel","topic":"Unbind device","name":"","x":430,"y":2280,"wires":[["cfee11cc.ed634"]]},{"id":"cfee11cc.ed634","type":"switch","z":"2dc1fcaf.a3c9d4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"bind","vt":"str"},{"t":"eq","v":"unbind","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":590,"y":2260,"wires":[["f35e7343.1963d"],["f35e7343.1963d"],[]]},{"id":"2f0bb960.c03336","type":"ui_text_input","z":"2dc1fcaf.a3c9d4","name":"","label":"New device name","tooltip":"","group":"6e7b87e7.e98e08","order":5,"width":"6","height":"1","passthru":true,"mode":"text","delay":"100","topic":"","x":130,"y":1860,"wires":[["63013dd7.f043b4"]]},{"id":"a7a3628e.e5d16","type":"comment","z":"2dc1fcaf.a3c9d4","name":"Device management","info":"","x":130,"y":1740,"wires":[]},{"id":"63013dd7.f043b4","type":"change","z":"2dc1fcaf.a3c9d4","name":"","rules":[{"t":"set","p":"newdevicename","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1860,"wires":[[]]},{"id":"9e7a46b6.127cf8","type":"ui_button","z":"2dc1fcaf.a3c9d4","name":"","group":"6e7b87e7.e98e08","order":6,"width":"6","height":"1","passthru":false,"label":"Rename device","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Rename","payloadType":"str","topic":"","x":120,"y":2080,"wires":[["9ab72acf.fda738"]]},{"id":"9ab72acf.fda738","type":"template","z":"2dc1fcaf.a3c9d4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} device <b>{{flow.device}}</b> to <b>{{flow.newdevicename}}</b>?","output":"str","x":280,"y":2080,"wires":[["ba09d17d.cf74b"]]},{"id":"ba09d17d.cf74b","type":"ui_toast","z":"2dc1fcaf.a3c9d4","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"rename","cancel":"cancel","topic":"Rename device","name":"","x":430,"y":2080,"wires":[["922df165.94075"]]},{"id":"922df165.94075","type":"switch","z":"2dc1fcaf.a3c9d4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"rename","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":570,"y":2080,"wires":[["1e10a46d.4b0fdc"],[]]},{"id":"1e10a46d.4b0fdc","type":"function","z":"2dc1fcaf.a3c9d4","name":"Format Data","func":"var oldname = flow.get('device');\nvar newname = flow.get('newdevicename');\n\nif (typeof oldname !== undefined && typeof newname !== undefined) {\n  msg1 = { 'payload': {\"old\": oldname, \"new\": newname}, 'topic': 'zigbee2mqtt/bridge/config/rename'};\n  msg2 = { 'payload': msg.payload + ' ' + oldname + ' to ' + newname };\n\n  return [msg1, msg2];\n}","outputs":2,"noerr":0,"x":730,"y":2080,"wires":[["3fd80601.72d3ca"],[]]},{"id":"38c7896a.bc6d66","type":"ui_toast","z":"2dc1fcaf.a3c9d4","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":960,"y":2080,"wires":[]},{"id":"9bf99d7a.c14c9","type":"switch","z":"2dc1fcaf.a3c9d4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":".*/bridge/state","vt":"str","case":false},{"t":"regex","v":".*/bridge/log","vt":"str","case":false},{"t":"regex","v":".*/bridge/config$","vt":"str","case":false},{"t":"regex","v":".*/networkmap/graphviz$","vt":"str","case":false},{"t":"regex","v":".*/bridge/config/.*","vt":"str","case":false},{"t":"regex","v":"^(?!.*get$|.*set$).*$","vt":"str","case":false}],"checkall":"false","repair":false,"outputs":6,"x":230,"y":540,"wires":[["9ed1b10a.2f41d"],["9a054b95.98ea58"],["5ed5e5fc.786abc"],["2ea50562.a243da"],[],["73b3d62d.67c2f8"]]},{"id":"5ed5e5fc.786abc","type":"json","z":"2dc1fcaf.a3c9d4","name":"","property":"payload","action":"","pretty":false,"x":410,"y":620,"wires":[["3921a5f8.e25e4a"]]},{"id":"3921a5f8.e25e4a","type":"link out","z":"2dc1fcaf.a3c9d4","name":"Z2M BRIDGE CONFIG INPUT","links":["19c6010c.6d789f"],"x":515,"y":620,"wires":[]},{"id":"e0dbe50e.7e5208","type":"ui_switch","z":"2dc1fcaf.a3c9d4","name":"","label":"Permit join","tooltip":"","group":"3025ab4d.2e8454","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"zigbee2mqtt/bridge/config/permit_join","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":470,"y":1280,"wires":[["a225e193.62a91"]]},{"id":"7cde354a.cb54bc","type":"change","z":"2dc1fcaf.a3c9d4","name":"","rules":[{"t":"move","p":"payload.permit_join","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":1280,"wires":[["e0dbe50e.7e5208"]]},{"id":"19c6010c.6d789f","type":"link in","z":"2dc1fcaf.a3c9d4","name":"Z2M BRIDGE CONFIG","links":["3921a5f8.e25e4a"],"x":55,"y":1280,"wires":[["7cde354a.cb54bc","3097f9c2.76ece6","85b46155.25de5","b0c4ec6d.0aee3"]]},{"id":"7261b22f.81080c","type":"ui_dropdown","z":"2dc1fcaf.a3c9d4","name":"","label":"Log level","tooltip":"","place":"Select log level","group":"3025ab4d.2e8454","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"Info","value":"info","type":"str"},{"label":"Debug","value":"debug","type":"str"},{"label":"Warn","value":"warn","type":"str"},{"label":"Error","value":"error","type":"str"}],"payload":"","topic":"zigbee2mqtt/bridge/config/log_level","x":460,"y":1320,"wires":[["a225e193.62a91"]]},{"id":"a225e193.62a91","type":"link out","z":"2dc1fcaf.a3c9d4","name":"Z2M BRIDGE CONFIG OUT","links":["7818249c.27e49c"],"x":615,"y":1300,"wires":[]},{"id":"3097f9c2.76ece6","type":"change","z":"2dc1fcaf.a3c9d4","name":"","rules":[{"t":"move","p":"payload.log_level","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1320,"wires":[["7261b22f.81080c"]]},{"id":"ff4e4adb.f8e968","type":"link out","z":"2dc1fcaf.a3c9d4","name":"Z2M NOTIFICATIONS OUT","links":["9109b122.9591a"],"x":695,"y":600,"wires":[]},{"id":"ff54b661.1b7098","type":"ui_toast","z":"2dc1fcaf.a3c9d4","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":840,"y":2600,"wires":[]},{"id":"9109b122.9591a","type":"link in","z":"2dc1fcaf.a3c9d4","name":"Z2M NOTIFICATIONS INPUT","links":["ff4e4adb.f8e968"],"x":65,"y":2580,"wires":[["6e9264ce.61665c"]]},{"id":"e5477b16.4f4f38","type":"change","z":"2dc1fcaf.a3c9d4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.type","tot":"msg"},{"t":"move","p":"payload.message","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":2680,"wires":[[]]},{"id":"ed965333.c3afe","type":"comment","z":"2dc1fcaf.a3c9d4","name":"Bridge status","info":"","x":110,"y":1100,"wires":[]},{"id":"ed32d3cb.dacca","type":"ui_button","z":"2dc1fcaf.a3c9d4","name":"remove device","group":"6e7b87e7.e98e08","order":3,"width":"6","height":"1","passthru":false,"label":"Remove device","tooltip":"","color":"","bgcolor":"","icon":"","payload":"remove","payloadType":"str","topic":"","x":120,"y":1820,"wires":[["9f0e213.9ed41e"]]},{"id":"9f0e213.9ed41e","type":"template","z":"2dc1fcaf.a3c9d4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} device <b>{{flow.device}}</b> permanently?","output":"str","x":280,"y":1820,"wires":[["c19bec4a.f1c3f"]]},{"id":"c19bec4a.f1c3f","type":"ui_toast","z":"2dc1fcaf.a3c9d4","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"remove","cancel":"cancel","topic":"Remove device","name":"","x":430,"y":1820,"wires":[["22840dd6.bc4b02"]]},{"id":"22840dd6.bc4b02","type":"switch","z":"2dc1fcaf.a3c9d4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"remove","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":570,"y":1820,"wires":[["e985fdc.01072"],[]]},{"id":"e985fdc.01072","type":"change","z":"2dc1fcaf.a3c9d4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"zigbee2mqtt/bridge/config/remove","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"device","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1820,"wires":[["2097161e.fa87da"]]},{"id":"9f202766.d9a698","type":"ui_text","z":"2dc1fcaf.a3c9d4","group":"3025ab4d.2e8454","order":4,"width":"0","height":"0","name":"","label":"Status","format":"{{msg.payload.bridgestate}}","layout":"row-left","x":510,"y":1200,"wires":[]},{"id":"437109a6.4f02b8","type":"ui_text","z":"2dc1fcaf.a3c9d4","group":"3025ab4d.2e8454","order":7,"width":"0","height":"0","name":"","label":"Devices","format":"{{msg.payload.numdevices}}","layout":"row-left","x":520,"y":1160,"wires":[]},{"id":"a1e05ad.946c9a8","type":"change","z":"2dc1fcaf.a3c9d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.numdevices","pt":"msg","to":"devices.length","tot":"flow"},{"t":"set","p":"payload.bridgestate","pt":"msg","to":"bridgestate","tot":"flow"},{"t":"set","p":"payload.nwlast","pt":"msg","to":"networkmap_last","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1140,"wires":[["437109a6.4f02b8","9f202766.d9a698","b2b3c26d.1be93"]]},{"id":"94533bba.e3d2c8","type":"function","z":"2dc1fcaf.a3c9d4","name":"Reformat for details","func":"newPayload = [];\n\nnewentry = {\n             'title': msg.payload.friendly_name,\n             'description': 'zigbee2mqtt/' + msg.payload.friendly_name,\n             'icon': 'https://www.zigbee2mqtt.io/images/logo.png'\n};\nnewPayload.push(newentry);\nnewentry = {\n             'title': msg.payload.ieeeAddr,\n             'description': 'NwkAddr: ' + msg.payload.nwkAddr + ' / manufId: ' + msg.payload.manufId,\n             'icon_name': 'settings_input_antenna'\n};\nnewPayload.push(newentry);\nnewentry = { \n             'title': msg.payload.model,\n             'description': msg.payload.modelId,\n             'icon': 'https://www.zigbee2mqtt.io/images/devices/' + msg.payload.model.replace(new RegExp('/', 'g'), '-') + '.jpg'\n};\nnewPayload.push(newentry);\nnewentry = { \n             'title': msg.payload.manufName,\n             'description': 'HW: ' + msg.payload.hwVersion + ' / SW: ' + msg.payload.swBuildId,\n             'icon_name': 'bookmark'\n};\nnewPayload.push(newentry);\nvar type_icon = msg.payload.type=='Router' ? 'device_hub' : 'input';\nnewentry = {\n             'title': msg.payload.type,\n             'description': 'Powersource: ' + msg.payload.powerSource,\n             'icon_name': type_icon\n};\nnewPayload.push(newentry);\n\nmsg.payload=newPayload;\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":1020,"wires":[["4678358e.24e53c"]]},{"id":"2ea50562.a243da","type":"change","z":"2dc1fcaf.a3c9d4","name":"save networkmap","rules":[{"t":"set","p":"networkmap","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"networkmap_last","pt":"flow","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":680,"wires":[["fa64143f.3a3f38"]]},{"id":"e6068eb9.fbd39","type":"http in","z":"2dc1fcaf.a3c9d4","name":"","url":"/z2mpanel/networkmap","method":"get","upload":false,"swaggerDoc":"","x":160,"y":3080,"wires":[["40d28b11.a1f6b4"]]},{"id":"40d28b11.a1f6b4","type":"template","z":"2dc1fcaf.a3c9d4","name":"Render page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n        <meta charset=\"utf-8\">\n        <title>Network topology</title>\n         <style>\n    #graphviz_svg_div svg {\n      position: absolute;\n      top: 0;\n      left: 0;\n      width: 100%;\n      height: 100%;\n    }\n    \n    </style>\n    </head>\n    <body>\n        <div id=\"graphviz_svg_div\"></div>\n        <script language=\"javascript\" type=\"text/javascript\" src=\"https://cdn.jsdelivr.net/npm/viz.js@2.1.2/viz.js\"></script>\n        <script language=\"javascript\" type=\"text/javascript\" src=\"https://cdn.jsdelivr.net/npm/viz.js@2.1.2/full.render.js\"></script>\n        <script language=\"javascript\" type=\"text/javascript\" src=\"https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.0/dist/svg-pan-zoom.min.js\"></script>\n        <script type=\"bogus\" id=\"graphviz_input\">\n            {{{flow.networkmap}}}\n        </script>\n        <script language=\"javascript\" type=\"text/javascript\">\n            document.addEventListener(\"DOMContentLoaded\", function(event) {\n            var viz = new Viz();\n            var svg = document.getElementById(\"graphviz_input\").innerHTML;\n            viz.renderSVGElement(svg, {engine: \"{{{flow.nwrenderengine}}}\"})\n            .then(function(element) {\n                document.getElementById(\"graphviz_svg_div\").appendChild(element);\n                panZoom = svgPanZoom(element, {\n                    zoomEnabled: true,\n                    controlIconsEnabled: true,\n                    fit: true,\n                    center: true,\n                    minZoom: 0.1\n                });\n\n                element.addEventListener('paneresize', function(e) {\n                    panZoom.resize();\n                }, false);\n                window.addEventListener('resize', function(e) {\n                    panZoom.resize();\n                });\n            })\n            .catch(error => {\n                // Create a new Viz instance (@see Caveats page for more info)\n                viz = new Viz();\n\n                // Possibly display the error\n                console.error(error);\n            });\n            //var svg = Viz(document.getElementById(\"graphviz_input\").innerHTML, \"svg\", {render: \"circo\"});\n            //document.getElementById(\"graphviz_svg_div\").innerHTML = svg;\n            });\n        </script>\n    </body>\n</html>","output":"str","x":450,"y":3080,"wires":[["c4f53ac4.7de2e8"]]},{"id":"c4f53ac4.7de2e8","type":"http response","z":"2dc1fcaf.a3c9d4","name":"","statusCode":"","headers":{},"x":650,"y":3080,"wires":[]},{"id":"4438e180.f9ec","type":"ui_template","z":"2dc1fcaf.a3c9d4","group":"94df4c7e.27404","name":"iframe nw map","order":0,"width":"27","height":"11","format":"<iframe frameborder=\"0\" width=\"100%\" height=\"100%\" src=\"/z2mpanel/networkmap\"></iframe>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":120,"y":3040,"wires":[[]]},{"id":"4678358e.24e53c","type":"ui_list","z":"2dc1fcaf.a3c9d4","group":"80f9dc48.85d86","name":"Selected device","order":1,"width":"6","height":"7","lineType":"three","actionType":"none","allowHTML":true,"outputs":1,"x":820,"y":1020,"wires":[[]]},{"id":"34bca06e.c42e","type":"comment","z":"2dc1fcaf.a3c9d4","name":"Device list & selected device","info":"","x":160,"y":880,"wires":[]},{"id":"3973c098.35647","type":"inject","z":"2dc1fcaf.a3c9d4","name":"Create network map","topic":"zigbee2mqtt/bridge/networkmap","payload":"graphviz","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"10","x":140,"y":200,"wires":[["5f37d6e2.8c8638"]]},{"id":"c6d28396.74f88","type":"inject","z":"2dc1fcaf.a3c9d4","name":"Request Device List","topic":"zigbee2mqtt/bridge/config/devices/get","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":240,"wires":[["5f37d6e2.8c8638"]]},{"id":"77e61d11.165dc4","type":"ui_button","z":"2dc1fcaf.a3c9d4","name":"Create nw map","group":"3025ab4d.2e8454","order":12,"width":"1","height":"1","passthru":false,"label":"","tooltip":"Refresh network map","color":"","bgcolor":"","icon":"refresh","payload":"graphviz","payloadType":"str","topic":"zigbee2mqtt/bridge/networkmap","x":120,"y":2880,"wires":[["7f93819d.cefbb"]]},{"id":"7f93819d.cefbb","type":"link out","z":"2dc1fcaf.a3c9d4","name":"Z2M NW MAP GEN","links":["7818249c.27e49c"],"x":255,"y":2880,"wires":[]},{"id":"6e9264ce.61665c","type":"switch","z":"2dc1fcaf.a3c9d4","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"pairing","vt":"str"},{"t":"eq","v":"device_connected","vt":"str"},{"t":"eq","v":"device_removed","vt":"str"},{"t":"istype","v":"object","vt":"object"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":160,"y":2580,"wires":[["3ef6e860.af1438"],["995eb755.ace3b8"],["ade66109.3f66f"],["d91c8fa3.10981"],["e5477b16.4f4f38"]]},{"id":"3ef6e860.af1438","type":"switch","z":"2dc1fcaf.a3c9d4","name":"","property":"payload.message","propertyType":"msg","rules":[{"t":"eq","v":"connecting with device","vt":"str"},{"t":"eq","v":"device incoming","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":320,"y":2480,"wires":[["8333eba7.2b6a28"],["b0ce641a.65a3d8"]]},{"id":"8333eba7.2b6a28","type":"change","z":"2dc1fcaf.a3c9d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"A device is attempting to pair...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2460,"wires":[[]]},{"id":"b0ce641a.65a3d8","type":"change","z":"2dc1fcaf.a3c9d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"A device is incoming or repairing...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2500,"wires":[[]]},{"id":"995eb755.ace3b8","type":"template","z":"2dc1fcaf.a3c9d4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Device paired successfully: {{msg.payload.message}}","output":"str","x":330,"y":2540,"wires":[[]]},{"id":"ade66109.3f66f","type":"template","z":"2dc1fcaf.a3c9d4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Deviced removed: {{msg.payload.message}}","output":"str","x":330,"y":2580,"wires":[[]]},{"id":"aebb8d34.57c6a","type":"comment","z":"2dc1fcaf.a3c9d4","name":"Notifications","info":"","x":120,"y":2420,"wires":[]},{"id":"e127d5c5.134918","type":"ui_toast","z":"2dc1fcaf.a3c9d4","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":1060,"y":2280,"wires":[]},{"id":"f1fb3d7c.dc89b","type":"link out","z":"2dc1fcaf.a3c9d4","name":"Z2M BINDING OUT","links":["7818249c.27e49c"],"x":875,"y":2240,"wires":[]},{"id":"3fd80601.72d3ca","type":"link out","z":"2dc1fcaf.a3c9d4","name":"Z2M RENAME OUT","links":["7818249c.27e49c"],"x":855,"y":2060,"wires":[]},{"id":"2097161e.fa87da","type":"link out","z":"2dc1fcaf.a3c9d4","name":"Z2M REMOVE OUT","links":["7818249c.27e49c"],"x":835,"y":1820,"wires":[]},{"id":"cc9c4ba7.da0bd8","type":"comment","z":"2dc1fcaf.a3c9d4","name":"Zigbee2Mqtt Admin Panel","info":"","x":150,"y":40,"wires":[]},{"id":"c4f41a52.396f98","type":"comment","z":"2dc1fcaf.a3c9d4","name":"---- Dont change things down here ----","info":"","x":190,"y":400,"wires":[]},{"id":"d91c8fa3.10981","type":"switch","z":"2dc1fcaf.a3c9d4","name":"","property":"payload.type.group","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":2620,"wires":[["9b4eed0d.b19d8"]]},{"id":"9b4eed0d.b19d8","type":"template","z":"2dc1fcaf.a3c9d4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Succesfully changed device {{payload.type.device}} in group {{payload.type.group}}","output":"str","x":570,"y":2620,"wires":[[]]},{"id":"7eb0da7a.4682d4","type":"ui_toast","z":"2dc1fcaf.a3c9d4","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1020,"y":580,"wires":[]},{"id":"fa64143f.3a3f38","type":"debug","z":"2dc1fcaf.a3c9d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":680,"wires":[]},{"id":"b2b3c26d.1be93","type":"ui_text","z":"2dc1fcaf.a3c9d4","group":"3025ab4d.2e8454","order":9,"width":"0","height":"0","name":"","label":"Last created","format":"{{msg.payload.nwlast | date:'dd.MM.yy HH:mm'}}","layout":"row-spread","x":530,"y":1120,"wires":[]},{"id":"1b5d90a7.f967cf","type":"ui_button","z":"2dc1fcaf.a3c9d4","name":"","group":"3025ab4d.2e8454","order":11,"width":"5","height":"1","passthru":false,"label":"Show network map","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Z2M Network map\"}","payloadType":"json","topic":"","x":130,"y":2920,"wires":[["99f1d660.a5aed8"]]},{"id":"99f1d660.a5aed8","type":"ui_ui_control","z":"2dc1fcaf.a3c9d4","name":"","x":340,"y":2920,"wires":[[]]},{"id":"a159a248.49f24","type":"link out","z":"2dc1fcaf.a3c9d4","name":"Z2M FLOW DEV TRIGGER","links":["f7eaa817.70bfd8","ced9b243.c5dfc","afb0f244.23a25","54600e9e.960a5"],"x":475,"y":1020,"wires":[]},{"id":"929f7f54.db8e9","type":"inject","z":"2dc1fcaf.a3c9d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":330,"y":1020,"wires":[["a159a248.49f24"]]},{"id":"5b09ecd2.434614","type":"template","z":"2dc1fcaf.a3c9d4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.message}} to device {{payload.meta.entity.friendlyName}}\nOriginal message: {{payload.meta.message}}","output":"str","x":780,"y":580,"wires":[["249de3da.f18b1c"]]},{"id":"249de3da.f18b1c","type":"link out","z":"2dc1fcaf.a3c9d4","name":"PUBLISH ERROR TO TELEGRAM","links":["34d4fa40.340716","237ac04e.ab42b"],"x":895,"y":560,"wires":[]},{"id":"7342c21a.3aa2dc","type":"inject","z":"2dc1fcaf.a3c9d4","name":"Request Group List","topic":"zigbee2mqtt/bridge/config/groups","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":280,"wires":[["5f37d6e2.8c8638"]]},{"id":"5a5cf81b.ad8758","type":"link out","z":"2dc1fcaf.a3c9d4","name":"Z2M LOG GROUPLIST","links":["7ede0202.b35fec","2ccca83c.28cad8","14f25bc4.b66f74"],"x":695,"y":540,"wires":[]},{"id":"fd0c97a8.2865c8","type":"comment","z":"2dc1fcaf.a3c9d4","name":"Networkmap","info":"","x":110,"y":2840,"wires":[]},{"id":"cc6aecd6.a936f","type":"change","z":"2dc1fcaf.a3c9d4","name":"","rules":[{"t":"set","p":"groupname","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":2020,"wires":[[]]},{"id":"2ccca83c.28cad8","type":"link in","z":"2dc1fcaf.a3c9d4","name":"Z2M GROUP UI","links":["5a5cf81b.ad8758"],"x":55,"y":2020,"wires":[["32d17c8.1319c84"]]},{"id":"32d17c8.1319c84","type":"function","z":"2dc1fcaf.a3c9d4","name":"Reformat for list","func":"newPayload = [];\nObject.keys(msg.payload.message).forEach(function(key) {\n    var msgKey = msg.payload.message[key].friendly_name + \" (ID: \" + key + \")\";\n    var msgVar = msg.payload.message[key].friendly_name;\n    newentry = '{\"'+msgKey+'\":\" '+ msgVar+'\"}';\n    newPayload.push(msg.payload.message[key].friendly_name);\n});\n\nnewMsg = {'payload': flow.get('groupname'), 'options': newPayload}\nreturn newMsg;\n","outputs":1,"noerr":0,"x":170,"y":2020,"wires":[["c05ec37a.dce1f"]]},{"id":"85b46155.25de5","type":"ui_text","z":"2dc1fcaf.a3c9d4","group":"3025ab4d.2e8454","order":5,"width":"0","height":"0","name":"","label":"Zigbee2MQTT version","format":"{{msg.payload.version}}","layout":"row-left","x":220,"y":1180,"wires":[]},{"id":"b0c4ec6d.0aee3","type":"ui_text","z":"2dc1fcaf.a3c9d4","group":"3025ab4d.2e8454","order":6,"width":"0","height":"0","name":"","label":"Coordinator firmware","format":"{{msg.payload.coordinator_firmware}}","layout":"row-left","x":220,"y":1220,"wires":[]},{"id":"cdd4b1f1.7a78","type":"inject","z":"2dc1fcaf.a3c9d4","name":"Reset CC253x","topic":"zigbee2mqtt/bridge/config/reset","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":320,"wires":[["5f37d6e2.8c8638"]]},{"id":"c05ec37a.dce1f","type":"ui_dropdown","z":"2dc1fcaf.a3c9d4","name":"Groups","label":"Group","tooltip":"","place":"Select group","group":"6e7b87e7.e98e08","order":8,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":340,"y":2020,"wires":[["cc6aecd6.a936f"]]},{"id":"dacbf5ae.a837a8","type":"ui_text_input","z":"2dc1fcaf.a3c9d4","name":"Selected device","label":"Selected device","tooltip":"Select device in device list","group":"6e7b87e7.e98e08","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":420,"y":1780,"wires":[[]]},{"id":"54600e9e.960a5","type":"link in","z":"2dc1fcaf.a3c9d4","name":"Z2M BIND DEVICE INP","links":["a159a248.49f24"],"x":55,"y":1780,"wires":[["599895af.0cbb1c"]]},{"id":"599895af.0cbb1c","type":"change","z":"2dc1fcaf.a3c9d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"device","tot":"flow"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":1780,"wires":[["dacbf5ae.a837a8"]]},{"id":"fb5ba5ed.4b14b8","type":"ui_toast","z":"2dc1fcaf.a3c9d4","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":980,"y":1520,"wires":[]},{"id":"e69435a.45db3c8","type":"function","z":"2dc1fcaf.a3c9d4","name":"Format Data","func":"\nif (msg.payload == \"add\") {\n    var action = \"Adding \";\n    var what = \"group \";\n    var cmd = \"add_group\";\n    var groupname = flow.get('newgroupname');\n}\nif(msg.payload == \"remove\") {\n        action = \"Removing \";\n        what = \"group \";\n        cmd = \"remove_group\";\n        groupname = flow.get('groupname2');\n}\nvar msg1 = { payload: groupname, topic: \"zigbee2mqtt/bridge/config/\" + cmd};\nvar msg2 = { payload: action + what + groupname };\n\nreturn [msg1, msg2];\n","outputs":2,"noerr":0,"x":770,"y":1520,"wires":[["37f2e586.49006a"],[]]},{"id":"37f2e586.49006a","type":"link out","z":"2dc1fcaf.a3c9d4","name":"Z2M GROUP BIND OUT","links":["7818249c.27e49c"],"x":875,"y":1500,"wires":[]},{"id":"6337a80.4b4d458","type":"switch","z":"2dc1fcaf.a3c9d4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"add","vt":"str"},{"t":"eq","v":"remove","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":630,"y":1520,"wires":[["e69435a.45db3c8"],["e69435a.45db3c8"],[]]},{"id":"8c4e977b.91d228","type":"ui_toast","z":"2dc1fcaf.a3c9d4","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"add","cancel":"cancel","topic":"Add group","name":"","x":470,"y":1500,"wires":[["6337a80.4b4d458"]]},{"id":"c19b2c98.0b6de","type":"ui_toast","z":"2dc1fcaf.a3c9d4","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"remove","cancel":"cancel","topic":"Remove group","name":"","x":470,"y":1540,"wires":[["6337a80.4b4d458"]]},{"id":"a79961d4.f2606","type":"template","z":"2dc1fcaf.a3c9d4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Add group <b>{{flow.newgroupname}}</b>?","output":"str","x":320,"y":1500,"wires":[["8c4e977b.91d228"]]},{"id":"96d70df.d4afef","type":"template","z":"2dc1fcaf.a3c9d4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Remove group <b>{{flow.groupname2}}</b>?","output":"str","x":320,"y":1540,"wires":[["c19b2c98.0b6de"]]},{"id":"f62ec6b1.bed2b8","type":"ui_button","z":"2dc1fcaf.a3c9d4","name":"","group":"7ce586d2.095418","order":15,"width":"6","height":"1","passthru":false,"label":"Add group","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Add","payloadType":"str","topic":"","x":110,"y":1500,"wires":[["a79961d4.f2606"]]},{"id":"363ca393.c8981c","type":"ui_button","z":"2dc1fcaf.a3c9d4","name":"","group":"7ce586d2.095418","order":17,"width":"6","height":"1","passthru":false,"label":"Remove group","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Remove","payloadType":"str","topic":"","x":120,"y":1540,"wires":[["96d70df.d4afef"]]},{"id":"c32b3206.af431","type":"change","z":"2dc1fcaf.a3c9d4","name":"","rules":[{"t":"set","p":"groupname2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1580,"wires":[[]]},{"id":"14f25bc4.b66f74","type":"link in","z":"2dc1fcaf.a3c9d4","name":"Z2M GROUP UI","links":["5a5cf81b.ad8758"],"x":55,"y":1580,"wires":[["1b904599.76ff1a"]]},{"id":"1b904599.76ff1a","type":"function","z":"2dc1fcaf.a3c9d4","name":"Reformat for list","func":"newPayload = [];\nObject.keys(msg.payload.message).forEach(function(key) {\n    var msgKey = msg.payload.message[key].friendly_name + \" (ID: \" + key + \")\";\n    var msgVar = msg.payload.message[key].friendly_name;\n    newentry = '{\"'+msgKey+'\":\" '+ msgVar+'\"}';\n    newPayload.push(msg.payload.message[key].friendly_name);\n});\n\nnewMsg = {'payload': flow.get('groupname2'), 'options': newPayload}\nreturn newMsg;\n","outputs":1,"noerr":0,"x":170,"y":1580,"wires":[["9ae5dd2b.74a3a"]]},{"id":"9ae5dd2b.74a3a","type":"ui_dropdown","z":"2dc1fcaf.a3c9d4","name":"Groups","label":"","tooltip":"Selected group","place":"Select group","group":"7ce586d2.095418","order":16,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":340,"y":1580,"wires":[["c32b3206.af431"]]},{"id":"4b9ab0c.942c95","type":"ui_text_input","z":"2dc1fcaf.a3c9d4","name":"","label":"New group name","tooltip":"","group":"7ce586d2.095418","order":14,"width":"6","height":"1","passthru":true,"mode":"text","delay":"100","topic":"","x":130,"y":1640,"wires":[["ac703864.ab9298"]]},{"id":"ac703864.ab9298","type":"change","z":"2dc1fcaf.a3c9d4","name":"","rules":[{"t":"set","p":"newgroupname","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1640,"wires":[[]]},{"id":"9eaa3a6d.295058","type":"ui_text","z":"2dc1fcaf.a3c9d4","group":"6e7b87e7.e98e08","order":7,"width":"6","height":"1","name":"Group membership","label":"<h3>Device group membership</h3>","format":"","layout":"row-left","x":130,"y":1980,"wires":[]},{"id":"619270a7.2f455","type":"ui_text","z":"2dc1fcaf.a3c9d4","group":"6e7b87e7.e98e08","order":11,"width":"6","height":"1","name":"Bind device label","label":"<h3>Bind device</h3>","format":"","layout":"row-left","x":130,"y":2140,"wires":[]},{"id":"c34f3e79.2ac72","type":"ui_text","z":"2dc1fcaf.a3c9d4","group":"3025ab4d.2e8454","order":3,"width":0,"height":0,"name":"bridge status label","label":"<h3>Bridge status</h3>","format":"","layout":"row-left","x":140,"y":1380,"wires":[]},{"id":"e82cf895.fba128","type":"ui_text","z":"2dc1fcaf.a3c9d4","group":"6e7b87e7.e98e08","order":4,"width":0,"height":0,"name":"rename device label","label":"<h3>Rename device</h3>","format":"","layout":"row-left","x":660,"y":1780,"wires":[]},{"id":"dd23f9ec.a33118","type":"debug","z":"2dc1fcaf.a3c9d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":740,"wires":[]},{"id":"b4135b02.846e38","type":"ui_dropdown","z":"2dc1fcaf.a3c9d4","name":"renderer","label":"Renderer","tooltip":"Graphviz renderer","place":"Select renderer","group":"3025ab4d.2e8454","order":10,"width":"0","height":"0","passthru":false,"options":[{"label":"Circo","value":"circo","type":"str"},{"label":"Dot","value":"dot","type":"str"},{"label":"Neato","value":"neato","type":"str"},{"label":"Twopi","value":"twopi","type":"str"},{"label":"Fdp","value":"fdp","type":"str"}],"payload":"","topic":"","x":340,"y":2960,"wires":[["aaf5c187.dfb9f"]]},{"id":"aaf5c187.dfb9f","type":"change","z":"2dc1fcaf.a3c9d4","name":"","rules":[{"t":"set","p":"nwrenderengine","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":2960,"wires":[[]]},{"id":"ebfb0dea.4f355","type":"inject","z":"2dc1fcaf.a3c9d4","name":"","topic":"","payload":"nwrenderengine","payloadType":"flow","repeat":"","crontab":"","once":true,"onceDelay":"1","x":140,"y":2960,"wires":[["b4135b02.846e38"]]},{"id":"596f68a.2a9db98","type":"ui_text","z":"2dc1fcaf.a3c9d4","group":"3025ab4d.2e8454","order":8,"width":0,"height":0,"name":"nw map label","label":"<h3>Network map</h3>","format":"","layout":"row-left","x":430,"y":2880,"wires":[]},{"id":"e0345c1.cf8fda","type":"link out","z":"2dc1fcaf.a3c9d4","name":"Z2M GENERIC IN","links":["e7bbadd8.747b"],"x":255,"y":100,"wires":[]},{"id":"e7bbadd8.747b","type":"link in","z":"2dc1fcaf.a3c9d4","name":"Z2M INPUT","links":["e0345c1.cf8fda"],"x":75,"y":540,"wires":[["9bf99d7a.c14c9"]]},{"id":"88c444c3.70ec28","type":"inject","z":"2dc1fcaf.a3c9d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":470,"y":320,"wires":[["3c0e74a7.a745cc"]]},{"id":"3c0e74a7.a745cc","type":"change","z":"2dc1fcaf.a3c9d4","name":"","rules":[{"t":"set","p":"nwrenderengine","pt":"flow","to":"circo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":320,"wires":[[]]},{"id":"331d9510.7ce06a","type":"function","z":"2dc1fcaf.a3c9d4","name":"Save last msg","func":"lastDevMsgs = flow.get('lastdevmsgs')||{};\n\nlastDevMsgs[msg.topic] = msg.payload;\nflow.set('lastdevmsgs', lastDevMsgs);\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":740,"wires":[["dd23f9ec.a33118"]]},{"id":"56c3cab4.499564","type":"function","z":"2dc1fcaf.a3c9d4","name":"Lookup device last msg","func":"lastmsgs = flow.get('lastdevmsgs');\n\nentry=lastmsgs[\"zigbee2mqtt/\"+msg.payload.title];\n\nnewPayload = [];\n\nnewentry = {\n         'title': '<h3>Last message</h3>'\n};\nnewPayload.push(newentry);\n\nfor(var prop in entry) {\n  newentry = {\n         'title': '<b>' + prop + '</b>: ' + entry[prop],\n         'description': entry[prop]\n  };\n  newPayload.push(newentry);\n}\n\nmsg.payload = newPayload;\nreturn msg;\n","outputs":1,"noerr":0,"x":610,"y":920,"wires":[["d2a82def.dd9f7"]]},{"id":"73b3d62d.67c2f8","type":"json","z":"2dc1fcaf.a3c9d4","name":"","property":"payload","action":"","pretty":false,"x":390,"y":740,"wires":[["331d9510.7ce06a"]]},{"id":"d2a82def.dd9f7","type":"ui_list","z":"2dc1fcaf.a3c9d4","group":"80f9dc48.85d86","name":"Selected device msg","order":2,"width":"6","height":"6","lineType":"one","actionType":"none","allowHTML":true,"outputs":1,"x":840,"y":920,"wires":[[]]},{"id":"12f1705e.9200b","type":"function","z":"d9d0239.9656ae","name":"state","func":"msg.payload = msg.payload.state;\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":300,"wires":[[]]},{"id":"67a71c47.6870b4","type":"zigbee2mqtt-get","z":"b373cb64.b32288","name":"Raam heit en mem","server":"54720da2.31fe84","friendly_name":"Raam heit en mem","device_id":"0x00158d00025d69ff","state":"0","x":570,"y":720,"wires":[["4259c267.c93b4c"]]},{"id":"4259c267.c93b4c","type":"function","z":"b373cb64.b32288","name":"","func":"state = false;\nif (msg.payload.contact) {\n    state = true;\n} else {\n    state = false;\n}\n\nmsg.payload = state;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":720,"wires":[["13cb466d.5749fa"]]},{"id":"13cb466d.5749fa","type":"ui_led","z":"b373cb64.b32288","order":8,"group":"e480e105.3a76c","width":0,"height":0,"label":"Raam heit en mem","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":true,"name":"Raam heit en mem","x":1030,"y":720,"wires":[]},{"id":"fa94f0aa.697cd","type":"link in","z":"b373cb64.b32288","name":"","links":["c5093a0d.328da8"],"x":395,"y":600,"wires":[["6878397f.211708","5f95b5b4.66211c","da277ed1.50022","31dc9343.80d85c","fe0e3485.d256e8","67a71c47.6870b4","13c0c30.18d963d"]]},{"id":"c5093a0d.328da8","type":"link out","z":"b373cb64.b32288","name":"","links":["fa94f0aa.697cd","344d85ba.71dc1a"],"x":315,"y":600,"wires":[]},{"id":"ea726c8b.059fd","type":"slack-web-out","z":"b373cb64.b32288","client":"11953a91.2f6945","name":"Slack send","x":1170,"y":1380,"wires":[[]]},{"id":"d7229f3.9507b6","type":"function","z":"b373cb64.b32288","name":"Deur heit en mem","func":"msg.payload.name = node.name;\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":946,"wires":[["b57eaed5.852e5"]]},{"id":"3657f936.6ff626","type":"zigbee2mqtt-in","z":"b373cb64.b32288","name":"Heit en mem","server":"54720da2.31fe84","friendly_name":"Heit en mem","device_id":"0x00158d0003c79a0e","state":"0","outputAtStartup":true,"x":75,"y":955,"wires":[["d939fcde.3a398"]]},{"id":"aa455861.2ebc48","type":"zigbee2mqtt-in","z":"b373cb64.b32288","name":"Senne","server":"54720da2.31fe84","friendly_name":"Senne","device_id":"0x00158d0003cebcba","state":"0","outputAtStartup":true,"x":55,"y":1026,"wires":[["f566786c.e4ea38"]]},{"id":"3e25c8a1.e3cab8","type":"zigbee2mqtt-in","z":"b373cb64.b32288","name":"Roan","server":"54720da2.31fe84","friendly_name":"Roan","device_id":"0x00158d0003538d84","state":"0","outputAtStartup":true,"x":55,"y":1086,"wires":[["11777a1f.bf1a56"]]},{"id":"e8a6a4f9.a45558","type":"zigbee2mqtt-in","z":"b373cb64.b32288","name":"Jelmar","server":"54720da2.31fe84","friendly_name":"Jelmar","device_id":"0x00158d0003a3519d","state":"0","outputAtStartup":true,"x":55,"y":1146,"wires":[["e04de5a2.5eef98"]]},{"id":"f18218a3.c5e098","type":"zigbee2mqtt-in","z":"b373cb64.b32288","name":"Zolder","server":"54720da2.31fe84","friendly_name":"Zolder","device_id":"0x00158d0003a354c8","state":"0","outputAtStartup":true,"x":55,"y":1206,"wires":[["378be3.1aa2641e"]]},{"id":"71c2000c.ed081","type":"function","z":"b373cb64.b32288","name":"Deur Senne","func":"msg.payload.name = node.name;\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":1021,"wires":[["b57eaed5.852e5"]]},{"id":"f775caff.b743a8","type":"function","z":"b373cb64.b32288","name":"Deur Roan","func":"msg.payload.name = node.name;\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":1079,"wires":[["b57eaed5.852e5"]]},{"id":"847a6c06.1750b","type":"function","z":"b373cb64.b32288","name":"Deur Jelmar","func":"msg.payload.name = node.name;\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":1139,"wires":[["b57eaed5.852e5"]]},{"id":"152afccd.359c23","type":"function","z":"b373cb64.b32288","name":"Deur zolder","func":"msg.payload.name = node.name;\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":1199,"wires":[["b57eaed5.852e5"]]},{"id":"aa56aeac.c95ce","type":"zigbee2mqtt-in","z":"b373cb64.b32288","name":"Raam heit en mem","server":"54720da2.31fe84","friendly_name":"Raam heit en mem","device_id":"0x00158d00025d69ff","state":"0","outputAtStartup":true,"x":95,"y":893,"wires":[["d7cd0d9a.5537d"]]},{"id":"74e1fb6c.5371b4","type":"function","z":"b373cb64.b32288","name":"Raam heit en mem","func":"msg.payload.name = node.name;\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":886,"wires":[["b57eaed5.852e5"]]},{"id":"7207eb64.318224","type":"function","z":"b373cb64.b32288","name":"SetMessage","func":"if (msg.payload.contact) {\n   msg.payload = msg.payload.name + \" dicht\"\n} else {\n   msg.payload = msg.payload.name + \" open\"\n}\n\nmsg.topic = \"#node-red\"\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1380,"wires":[["ea726c8b.059fd"]]},{"id":"dcdfa27c.ae76f","type":"delay","z":"b373cb64.b32288","name":"","pauseType":"delayv","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":596,"y":918,"wires":[["62dfe114.b62d4"]]},{"id":"62dfe114.b62d4","type":"zigbee2mqtt-get","z":"b373cb64.b32288","name":"Raam heit en mem","server":"54720da2.31fe84","friendly_name":"Raam heit en mem","device_id":"0x00158d00025d69ff","state":"0","x":806,"y":918,"wires":[["908025c0.523438"]]},{"id":"310417e4.bf36c8","type":"zigbee2mqtt-get","z":"b373cb64.b32288","name":"Schuur","server":"54720da2.31fe84","friendly_name":"Schuur","device_id":"0x00158d000353b015","state":"0","x":776,"y":1286,"wires":[["faedae4b.6473b"]]},{"id":"1972a64c.dd45ba","type":"zigbee2mqtt-in","z":"b373cb64.b32288","name":"Schuur","server":"54720da2.31fe84","friendly_name":"Zolder","device_id":"0x00158d0003a354c8","state":"0","outputAtStartup":true,"x":55,"y":1266,"wires":[["1883d186.c5e64e"]]},{"id":"1a32cd5f.6b92e3","type":"function","z":"b373cb64.b32288","name":"Deur schuur","func":"msg.payload.name = node.name;\n\nreturn msg;","outputs":1,"noerr":0,"x":1192,"y":1263,"wires":[["b57eaed5.852e5"]]},{"id":"d939fcde.3a398","type":"switch","z":"b373cb64.b32288","name":"","property":"msg.payload.contact","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":955,"wires":[["d7229f3.9507b6"],["15625093.4435ef"]]},{"id":"f566786c.e4ea38","type":"switch","z":"b373cb64.b32288","name":"","property":"msg.payload.contact","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":1026,"wires":[["71c2000c.ed081"],["ea22a52a.472598"]]},{"id":"11777a1f.bf1a56","type":"switch","z":"b373cb64.b32288","name":"","property":"msg.payload.contact","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":1086,"wires":[["f775caff.b743a8"],["eb90fe29.b5571"]]},{"id":"e04de5a2.5eef98","type":"switch","z":"b373cb64.b32288","name":"","property":"msg.payload.contact","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":1146,"wires":[["847a6c06.1750b"],["b21616ac.c8d6f8"]]},{"id":"378be3.1aa2641e","type":"switch","z":"b373cb64.b32288","name":"","property":"msg.payload.contact","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":1206,"wires":[["152afccd.359c23"],["c5f3564.d8c31a8"]]},{"id":"1883d186.c5e64e","type":"switch","z":"b373cb64.b32288","name":"","property":"msg.payload.contact","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":1266,"wires":[["1a32cd5f.6b92e3"],["498487f0.527178"]]},{"id":"b1723d9e.bfb69","type":"zigbee2mqtt-get","z":"b373cb64.b32288","name":"Jelmar","server":"54720da2.31fe84","friendly_name":"Jelmar","device_id":"0x00158d0003a3519d","state":"0","x":766,"y":1166,"wires":[["79a276fc.fb6548"]]},{"id":"b312bec9.a04d1","type":"zigbee2mqtt-get","z":"b373cb64.b32288","name":"Heit en mem","server":"54720da2.31fe84","friendly_name":"0x00158d0003c79a0e","device_id":"0x00158d0003c79a0e","state":"0","x":786,"y":978,"wires":[["43143b44.e36f74"]]},{"id":"7ac6bb6e.29f7d4","type":"zigbee2mqtt-get","z":"b373cb64.b32288","name":"Zolder","server":"54720da2.31fe84","friendly_name":"Zolder","device_id":"0x00158d0003a354c8","state":"0","x":766,"y":1226,"wires":[["a6e0078e.aab9f8"]]},{"id":"c9fd6998.b1dc78","type":"zigbee2mqtt-get","z":"b373cb64.b32288","name":"Roan","server":"54720da2.31fe84","friendly_name":"Roan","device_id":"0x00158d0003538d84","state":"0","x":766,"y":1106,"wires":[[]]},{"id":"a2a1b2fb.064df","type":"zigbee2mqtt-get","z":"b373cb64.b32288","name":"Senne","server":"54720da2.31fe84","friendly_name":"Senne","device_id":"0x00158d0003cebcba","state":"0","x":766,"y":1046,"wires":[["1ff27a5b.a2fd76"]]},{"id":"efd169.8d056e98","type":"delay","z":"b373cb64.b32288","name":"","pauseType":"delayv","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":596,"y":978,"wires":[["b312bec9.a04d1"]]},{"id":"f76628aa.58ce08","type":"delay","z":"b373cb64.b32288","name":"","pauseType":"delayv","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":596,"y":1046,"wires":[["a2a1b2fb.064df"]]},{"id":"45f02965.ad6688","type":"delay","z":"b373cb64.b32288","name":"","pauseType":"delayv","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":596,"y":1106,"wires":[["186a8c8a.015d33"]]},{"id":"50f449c5.732e58","type":"delay","z":"b373cb64.b32288","name":"","pauseType":"delayv","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":596,"y":1166,"wires":[["b1723d9e.bfb69"]]},{"id":"a981af56.f1652","type":"delay","z":"b373cb64.b32288","name":"","pauseType":"delayv","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":596,"y":1226,"wires":[["7ac6bb6e.29f7d4"]]},{"id":"368cf59b.34da6a","type":"delay","z":"b373cb64.b32288","name":"","pauseType":"delayv","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":596,"y":1286,"wires":[["310417e4.bf36c8"]]},{"id":"908025c0.523438","type":"switch","z":"b373cb64.b32288","name":"","property":"msg.payload.contact","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":983,"y":918,"wires":[[],["74e1fb6c.5371b4"]]},{"id":"43143b44.e36f74","type":"switch","z":"b373cb64.b32288","name":"","property":"msg.payload.contact","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":983,"y":978,"wires":[[],["d7229f3.9507b6"]]},{"id":"1ff27a5b.a2fd76","type":"switch","z":"b373cb64.b32288","name":"","property":"msg.payload.contact","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":983,"y":1046,"wires":[[],["71c2000c.ed081"]]},{"id":"186a8c8a.015d33","type":"switch","z":"b373cb64.b32288","name":"","property":"msg.payload.contact","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":983,"y":1106,"wires":[[],["f775caff.b743a8"]]},{"id":"79a276fc.fb6548","type":"switch","z":"b373cb64.b32288","name":"","property":"msg.payload.contact","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":983,"y":1166,"wires":[[],["847a6c06.1750b"]]},{"id":"a6e0078e.aab9f8","type":"switch","z":"b373cb64.b32288","name":"","property":"msg.payload.contact","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":983,"y":1226,"wires":[[],["152afccd.359c23"]]},{"id":"faedae4b.6473b","type":"switch","z":"b373cb64.b32288","name":"","property":"msg.payload.contact","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":983,"y":1286,"wires":[[],["1a32cd5f.6b92e3"]]},{"id":"dd4f82ac.64915","type":"time-range-switch","z":"b373cb64.b32288","name":"","lat":"53.179832","lon":"6.168285","startTime":"08:00","endTime":"21:30","startOffset":0,"endOffset":0,"x":451,"y":1392,"wires":[["afb8e602.c0e788"],["8ec49a94.cda708"]]},{"id":"9a68c4e2.582198","type":"switch","z":"b373cb64.b32288","name":"","property":"payload.changed","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":1386,"wires":[["7207eb64.318224","dc7afc1c.44af3"],[]]},{"id":"8ec49a94.cda708","type":"function","z":"b373cb64.b32288","name":"nacht","func":"msg.payload.changed = false;\n\nif (msg.payload.contact) {\n   flow.set(msg.payload.name && \"_\", \"dicht\");\n} else {\n   flow.set(msg.payload.name && \"_\", \"open\");\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":650,"y":1440,"wires":[["9a68c4e2.582198"]]},{"id":"b57eaed5.852e5","type":"link out","z":"b373cb64.b32288","name":"","links":["5f78496f.444b18"],"x":1455,"y":1120,"wires":[]},{"id":"5f78496f.444b18","type":"link in","z":"b373cb64.b32288","name":"","links":["b57eaed5.852e5"],"x":316,"y":1392,"wires":[["dd4f82ac.64915"]]},{"id":"afb8e602.c0e788","type":"function","z":"b373cb64.b32288","name":"Overdag","func":"msg.payload.changed = false;\n\nc = flow.get(msg.payload.name && \"_\") || \"none\";\nmsg.payload.old = c;\nif (msg.payload.contact) {\n   flow.set(msg.payload.name && \"_\", \"dicht\");\n   if (c!= \"dicht\") {\n       msg.payload.changed = true;\n   }\n} else {\n   flow.set(msg.payload.name && \"_\", \"open\");\n   if (c != \"open\") {\n       msg.payload.changed = true;\n   }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":646,"y":1386,"wires":[["9a68c4e2.582198"]]},{"id":"d7cd0d9a.5537d","type":"switch","z":"b373cb64.b32288","name":"","property":"msg.payload.contact","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":892,"wires":[["74e1fb6c.5371b4"],["4fc373a8.454f4c"]]},{"id":"4fc373a8.454f4c","type":"function","z":"b373cb64.b32288","name":"","func":"msg.payload.delay = flow.delay;\n\nreturn msg;","outputs":1,"noerr":0,"x":432,"y":918,"wires":[["dcdfa27c.ae76f"]]},{"id":"efe2276c.a6c748","type":"inject","z":"b373cb64.b32288","name":"Set delay every 10 minutes","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":0.1,"x":260,"y":820,"wires":[["fcfb23c9.6bc24"]]},{"id":"15625093.4435ef","type":"function","z":"b373cb64.b32288","name":"","func":"msg.payload.delay = flow.delay;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":978,"wires":[["efd169.8d056e98"]]},{"id":"ea22a52a.472598","type":"function","z":"b373cb64.b32288","name":"","func":"msg.payload.delay = flow.delay;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1046,"wires":[["f76628aa.58ce08"]]},{"id":"eb90fe29.b5571","type":"function","z":"b373cb64.b32288","name":"","func":"msg.payload.delay = flow.delay;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1106,"wires":[["45f02965.ad6688"]]},{"id":"b21616ac.c8d6f8","type":"function","z":"b373cb64.b32288","name":"","func":"msg.payload.delay = flow.delay;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1166,"wires":[["50f449c5.732e58"]]},{"id":"c5f3564.d8c31a8","type":"function","z":"b373cb64.b32288","name":"","func":"msg.payload.delay = flow.delay;\n\nreturn msg;","outputs":1,"noerr":0,"x":428,"y":1226,"wires":[["a981af56.f1652"]]},{"id":"498487f0.527178","type":"function","z":"b373cb64.b32288","name":"","func":"msg.payload.delay = flow.delay;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1286,"wires":[["368cf59b.34da6a"]]},{"id":"dc7afc1c.44af3","type":"debug","z":"b373cb64.b32288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1165,"y":1466,"wires":[]},{"id":"fcfb23c9.6bc24","type":"time-range-switch","z":"b373cb64.b32288","name":"","lat":"53.179832","lon":"6.168285","startTime":"08:00","endTime":"21:30","startOffset":0,"endOffset":0,"x":490,"y":820,"wires":[["37c0e13.962a81e"],["aa06d8cf.004788"]]},{"id":"37c0e13.962a81e","type":"function","z":"b373cb64.b32288","name":"Set delay 5","func":"flow.set(\"delay\", 1);\n   \nreturn msg;","outputs":1,"noerr":0,"x":670,"y":800,"wires":[[]]},{"id":"aa06d8cf.004788","type":"function","z":"b373cb64.b32288","name":"Set delay 15","func":"flow.set(\"delay\", 15);\n   \nreturn msg;","outputs":1,"noerr":0,"x":670,"y":840,"wires":[[]]}]
